In [1]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [2]:
df = pd.read_csv('clean data.csv')

In [3]:
df['date']=pd.to_datetime(df['date'], format='%Y-%m-%d')

In [4]:
df.head()

,record,card,date,merch#,merchdes,merchstate,merchzip,transtype,amount,fraud
0,1,5142190439,2010-01-01,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118,P,3.62,0
1,2,5142183973,2010-01-01,61003026333,SERVICE MERCHANDISE #81,MA,1803,P,31.42,0
2,3,5142131721,2010-01-01,4503082993600,OFFICE DEPOT #191,MD,20706,P,178.49,0
3,4,5142148452,2010-01-01,5509006296254,FEDEX SHP 12/28/09 AB#,TN,38118,P,3.62,0
4,5,5142190439,2010-01-01,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118,P,3.62,0

In [5]:
df.dtypes

record                 int64
card                   int64
date          datetime64[ns]
merch#                object
merchdes              object
merchstate            object
merchzip               int64
transtype             object
amount               float64
fraud                  int64
dtype: object

In [6]:
df.shape

(96397, 10)

# 1. Create combination groups

In [19]:
df.columns

Index(['record', 'card', 'date', 'merch#', 'merchdes', 'merchstate',
       'merchzip', 'transtype', 'amount', 'fraud'],
      dtype='object')

In [20]:
df['card-merchant'] = df['card'].astype(str) + '-' + df['merch#']
df['card-zip'] = df['card'].astype(str) + '-' + df['merchzip'].astype(str)
df['card-state'] = df['card'].astype(str) + '-' + df['merchstate']

In [21]:
df

,record,card,date,merch#,merchdes,merchstate,merchzip,transtype,amount,fraud,card-merchant,card-zip,card-state
0,1,5142190439,2010-01-01,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118,P,3.62,0,5142190439-5509006296254,5142190439-38118,5142190439-TN
1,2,5142183973,2010-01-01,61003026333,SERVICE MERCHANDISE #81,MA,1803,P,31.42,0,5142183973-61003026333,5142183973-1803,5142183973-MA
2,3,5142131721,2010-01-01,4503082993600,OFFICE DEPOT #191,MD,20706,P,178.49,0,5142131721-4503082993600,5142131721-20706,5142131721-MD
3,4,5142148452,2010-01-01,5509006296254,FEDEX SHP 12/28/09 AB#,TN,38118,P,3.62,0,5142148452-5509006296254,5142148452-38118,5142148452-TN
4,5,5142190439,2010-01-01,5509006296254,FEDEX SHP 12/23/09 AB#,TN,38118,P,3.62,0,5142190439-5509006296254,5142190439-38118,5142190439-TN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
96392,96749,5142276053,2010-12-31,3500000006160,BEST BUY 00001610,KY,41042,P,84.79,0,5142276053-3500000006160,5142276053-41042,5142276053-KY
96393,96750,5142225701,2010-12-31,8090710030950,MARKUS OFFICE SUPPLIES,OH,45248,P,118.75,0,5142225701-8090710030950,5142225701-45248,5142225701-OH
96394,96751,5142226486,2010-12-31,4503057341100,"TECH PAC, INC",OH,45150,P,363.56,0,5142226486-4503057341100,5142226486-45150,5142226486-OH
96395,96752,5142244619,2010-12-31,8834000695412,BUY.COM,CA,92656,P,2202.03,0,5142244619-8834000695412,5142244619-92656,5142244619-CA
96396,96753,5142243247,2010-12-31,9108347680006,STAPLES NATIONAL #471,NJ,7606,P,554.64,0,5142243247-9108347680006,5142243247-7606,5142243247-NJ

# 2. Create 4 types of variables

In [36]:
df.columns

Index(['record', 'card', 'date', 'merch#', 'merchdes', 'merchstate',
       'merchzip', 'transtype', 'amount', 'fraud'],
      dtype='object')

In [37]:
attributes = list(df.columns)
for col in ['record', 'date', 'merchdes', 'merchstate', 'merchzip', 'transtype', 'amount', 'fraud']:
    attributes.remove(col)
print(attributes)

['card', 'merch#']

In [24]:
finalDF = df[['record','date','amount']]

for val in attributes:
    df1 = df[['record','date','amount', val]].copy()
    df2 = df1.copy()
    lags = [0, 1, 3, 7, 14, 30]
    
    ##### 1. days_since variables #####
    for lag in lags:
        date_lags = 'date_{}'.format(lag)
        df2[date_lags] = df2['date'] + dt.timedelta(lag)

    df3 = df1.merge(df2, on=val)

    tmp = df3[(df3['record_x']>df3['record_y'])][['record_x','date_y']].\
          groupby('record_x').last()['date_y'].reset_index()
    tmp.columns = ['record','last_seen']
    df1 = df1.merge(tmp, how='left', on='record')
    df1['#d_since'] = df1['date'] - df1['last_seen']
    df1['#d_since'] = df1['#d_since'].dt.days
    df1['#d_since_start'] = (df1['date']-df1['date'].min()).dt.days
    df1['#d_since'] = df1['#d_since'].fillna(df1['#d_since_start'])
    
    df1.drop(columns=['last_seen','#d_since_start'], inplace=True)

    ##### 2. frequency variables #####
    for lag in lags:
        temp = df3[(df3['record_x']>=df3['record_y']) & (df3['date_x']<=df3['date_{}'.format(lag)])]
        tempCount = temp[['record_x','record_y']].groupby('record_x').count().reset_index()
        date_lags = 'ps_{}d_count'.format(lag)
        tempCount.columns = ['record', date_lags] 
        df1 = df1.merge(tempCount, left_on='record',right_on='record')
            
    ##### 3. amount variables #####
    for lag in lags:
        temp = df3[(df3['record_x']>=df3['record_y']) & (df3['date_x']<=df3['date_{}'.format(lag)])]
        
        # average
        tempAverage = temp[['amount_x']].groupby(temp['record_x']).mean().reset_index()
        date_lags_average = 'ps_{}d_average'.format(lag)
        tempAverage.columns = ['record', date_lags_average]
        df1 = df1.merge(tempAverage, left_on='record',right_on='record')
        
        # maximum
        tempMaximum = temp[['amount_x']].groupby(temp['record_x']).max().reset_index()
        date_lags_maximum = 'ps_{}d_maximum'.format(lag)
        tempMaximum.columns = ['record', date_lags_maximum]
        df1 = df1.merge(tempMaximum, left_on='record',right_on='record')
        
        # median
        tempMedian = temp[['amount_x']].groupby(temp['record_x']).median().reset_index()
        date_lags_median = 'ps_{}d_median'.format(lag)
        tempMedian.columns = ['record', date_lags_median]
        df1 = df1.merge(tempMedian, left_on='record',right_on='record')
        
        # total
        tempSum = temp[['amount_x']].groupby(temp['record_x']).sum().reset_index()
        date_lags_total = 'ps_{}d_total'.format(lag)
        tempSum.columns = ['record', date_lags_total]
        df1 = df1.merge(tempSum, left_on='record',right_on='record')
        
        # actual/average
        date_lags_ActualAverage = 'ps_{}d_ActualAverage'.format(lag)
        denominator_Average = 'ps_{}d_average'.format(lag)
        df1[date_lags_ActualAverage] = df1['amount'] / df1[denominator_Average]
        
        # actual/maximum
        date_lags_ActualMaximum = 'ps_{}d_ActualMaximum'.format(lag)
        denominator_Maximum = 'ps_{}d_maximum'.format(lag)
        df1[date_lags_ActualMaximum] = df1['amount'] / df1[denominator_Maximum]

        # actual/median
        date_lags_ActualMedian = 'ps_{}d_ActualMedian'.format(lag)
        denominator_Median = 'ps_{}d_median'.format(lag)
        df1[date_lags_ActualMedian] = df1['amount'] / df1[denominator_Median]
    
        # actual/total
        date_lags_ActualTotal = 'ps_{}d_ActualTotal'.format(lag)
        denominator_Total = 'ps_{}d_total'.format(lag)
        df1[date_lags_ActualTotal] = df1['amount'] / df1[denominator_Total]
        
    ##### 4. velocity change variables #####
    # number
    for i in [0, 1]:
        for j in [7, 14, 30]:
            date_lags_number = 'ps_{}d_ps{}d_number'.format(i,j)
            numerator = 'ps_{}d_count'.format(i)
            denominator = 'ps_{}d_count'.format(j)
            df1[date_lags_number] = df1[numerator] / (df1[denominator]/j)
        
    # amount
    for i in [0, 1]:
        for j in [7, 14, 30]:
            date_lags_amount = 'ps_{}d_ps{}d_amount'.format(i,j)
            numerator = 'ps_{}d_average'.format(i)
            denominator = 'ps_{}d_average'.format(j)
            df1[date_lags_amount] = df1[numerator] / (df1[denominator])

    df1.drop(columns=['date',val], inplace=True)
    df1 = df1.set_index('record')
    df1 = df1.add_prefix('{}_'.format(val))
    finalDF = finalDF.merge(df1, left_on='record', right_index=True)

In [25]:
co = list(finalDF.columns)
co

['record',
 'date',
 'amount',
 'card_amount',
 'card_#d_since',
 'card_ps_0d_count',
 'card_ps_1d_count',
 'card_ps_3d_count',
 'card_ps_7d_count',
 'card_ps_14d_count',
 'card_ps_30d_count',
 'card_ps_0d_average',
 'card_ps_0d_maximum',
 'card_ps_0d_median',
 'card_ps_0d_total',
 'card_ps_0d_ActualAverage',
 'card_ps_0d_ActualMaximum',
 'card_ps_0d_ActualMedian',
 'card_ps_0d_ActualTotal',
 'card_ps_1d_average',
 'card_ps_1d_maximum',
 'card_ps_1d_median',
 'card_ps_1d_total',
 'card_ps_1d_ActualAverage',
 'card_ps_1d_ActualMaximum',
 'card_ps_1d_ActualMedian',
 'card_ps_1d_ActualTotal',
 'card_ps_3d_average',
 'card_ps_3d_maximum',
 'card_ps_3d_median',
 'card_ps_3d_total',
 'card_ps_3d_ActualAverage',
 'card_ps_3d_ActualMaximum',
 'card_ps_3d_ActualMedian',
 'card_ps_3d_ActualTotal',
 'card_ps_7d_average',
 'card_ps_7d_maximum',
 'card_ps_7d_median',
 'card_ps_7d_total',
 'card_ps_7d_ActualAverage',
 'card_ps_7d_ActualMaximum',
 'card_ps_7d_ActualMedian',
 'card_ps_7d_ActualTotal',
 'card_ps_14d_average',
 'card_ps_14d_maximum',
 'card_ps_14d_median',
 'card_ps_14d_total',
 'card_ps_14d_ActualAverage',
 'card_ps_14d_ActualMaximum',
 'card_ps_14d_ActualMedian',
 'card_ps_14d_ActualTotal',
 'card_ps_30d_average',
 'card_ps_30d_maximum',
 'card_ps_30d_median',
 'card_ps_30d_total',
 'card_ps_30d_ActualAverage',
 'card_ps_30d_ActualMaximum',
 'card_ps_30d_ActualMedian',
 'card_ps_30d_ActualTotal',
 'card_ps_0d_ps7d_number',
 'card_ps_0d_ps14d_number',
 'card_ps_0d_ps30d_number',
 'card_ps_1d_ps7d_number',
 'card_ps_1d_ps14d_number',
 'card_ps_1d_ps30d_number',
 'card_ps_0d_ps7d_amount',
 'card_ps_0d_ps14d_amount',
 'card_ps_0d_ps30d_amount',
 'card_ps_1d_ps7d_amount',
 'card_ps_1d_ps14d_amount',
 'card_ps_1d_ps30d_amount',
 'merch#_amount',
 'merch#_#d_since',
 'merch#_ps_0d_count',
 'merch#_ps_1d_count',
 'merch#_ps_3d_count',
 'merch#_ps_7d_count',
 'merch#_ps_14d_count',
 'merch#_ps_30d_count',
 'merch#_ps_0d_average',
 'merch#_ps_0d_maximum',
 'merch#_ps_0d_median',
 'merch#_ps_0d_total',
 'merch#_ps_0d_ActualAverage',
 'merch#_ps_0d_ActualMaximum',
 'merch#_ps_0d_ActualMedian',
 'merch#_ps_0d_ActualTotal',
 'merch#_ps_1d_average',
 'merch#_ps_1d_maximum',
 'merch#_ps_1d_median',
 'merch#_ps_1d_total',
 'merch#_ps_1d_ActualAverage',
 'merch#_ps_1d_ActualMaximum',
 'merch#_ps_1d_ActualMedian',
 'merch#_ps_1d_ActualTotal',
 'merch#_ps_3d_average',
 'merch#_ps_3d_maximum',
 'merch#_ps_3d_median',
 'merch#_ps_3d_total',
 'merch#_ps_3d_ActualAverage',
 'merch#_ps_3d_ActualMaximum',
 'merch#_ps_3d_ActualMedian',
 'merch#_ps_3d_ActualTotal',
 'merch#_ps_7d_average',
 'merch#_ps_7d_maximum',
 'merch#_ps_7d_median',
 'merch#_ps_7d_total',
 'merch#_ps_7d_ActualAverage',
 'merch#_ps_7d_ActualMaximum',
 'merch#_ps_7d_ActualMedian',
 'merch#_ps_7d_ActualTotal',
 'merch#_ps_14d_average',
 'merch#_ps_14d_maximum',
 'merch#_ps_14d_median',
 'merch#_ps_14d_total',
 'merch#_ps_14d_ActualAverage',
 'merch#_ps_14d_ActualMaximum',
 'merch#_ps_14d_ActualMedian',
 'merch#_ps_14d_ActualTotal',
 'merch#_ps_30d_average',
 'merch#_ps_30d_maximum',
 'merch#_ps_30d_median',
 'merch#_ps_30d_total',
 'merch#_ps_30d_ActualAverage',
 'merch#_ps_30d_ActualMaximum',
 'merch#_ps_30d_ActualMedian',
 'merch#_ps_30d_ActualTotal',
 'merch#_ps_0d_ps7d_number',
 'merch#_ps_0d_ps14d_number',
 'merch#_ps_0d_ps30d_number',
 'merch#_ps_1d_ps7d_number',
 'merch#_ps_1d_ps14d_number',
 'merch#_ps_1d_ps30d_number',
 'merch#_ps_0d_ps7d_amount',
 'merch#_ps_0d_ps14d_amount',
 'merch#_ps_0d_ps30d_amount',
 'merch#_ps_1d_ps7d_amount',
 'merch#_ps_1d_ps14d_amount',
 'merch#_ps_1d_ps30d_amount',
 'card-merchant_amount',
 'card-merchant_#d_since',
 'card-merchant_ps_0d_count',
 'card-merchant_ps_1d_count',
 'card-merchant_ps_3d_count',
 'card-merchant_ps_7d_count',
 'card-merchant_ps_14d_count',
 'card-merchant_ps_30d_count',
 'card-merchant_ps_0d_average',
 'card-merchant_ps_0d_maximum',
 'card-merchant_ps_0d_median',
 'card-merchant_ps_0d_total',
 'card-merchant_ps_0d_ActualAverage',
 'card-merchant_ps_0d_ActualMaximum',
 'card-merchant_ps_0d_ActualMedian',
 'card-merchant_ps_0d_ActualTotal',
 'card-merchant_ps_1d_average',
 'card-merchant_ps_1d_maximum',
 'card-merchant_ps_1d_median',
 'card-merchant_ps_1d_total',
 'card-merchant_ps_1d_ActualAverage',
 'card-merchant_ps_1d_ActualMaximum',
 'card-merchant_ps_1d_ActualMedian',
 'card-merchant_ps_1d_ActualTotal',
 'card-merchant_ps_3d_average',
 'card-merchant_ps_3d_maximum',
 'card-merchant_ps_3d_median',
 'card-merchant_ps_3d_total',
 'card-merchant_ps_3d_ActualAverage',
 'card-merchant_ps_3d_ActualMaximum',
 'card-merchant_ps_3d_ActualMedian',
 'card-merchant_ps_3d_ActualTotal',
 'card-merchant_ps_7d_average',
 'card-merchant_ps_7d_maximum',
 'card-merchant_ps_7d_median',
 'card-merchant_ps_7d_total',
 'card-merchant_ps_7d_ActualAverage',
 'card-merchant_ps_7d_ActualMaximum',
 'card-merchant_ps_7d_ActualMedian',
 'card-merchant_ps_7d_ActualTotal',
 'card-merchant_ps_14d_average',
 'card-merchant_ps_14d_maximum',
 'card-merchant_ps_14d_median',
 'card-merchant_ps_14d_total',
 'card-merchant_ps_14d_ActualAverage',
 'card-merchant_ps_14d_ActualMaximum',
 'card-merchant_ps_14d_ActualMedian',
 'card-merchant_ps_14d_ActualTotal',
 'card-merchant_ps_30d_average',
 'card-merchant_ps_30d_maximum',
 'card-merchant_ps_30d_median',
 'card-merchant_ps_30d_total',
 'card-merchant_ps_30d_ActualAverage',
 'card-merchant_ps_30d_ActualMaximum',
 'card-merchant_ps_30d_ActualMedian',
 'card-merchant_ps_30d_ActualTotal',
 'card-merchant_ps_0d_ps7d_number',
 'card-merchant_ps_0d_ps14d_number',
 'card-merchant_ps_0d_ps30d_number',
 'card-merchant_ps_1d_ps7d_number',
 'card-merchant_ps_1d_ps14d_number',
 'card-merchant_ps_1d_ps30d_number',
 'card-merchant_ps_0d_ps7d_amount',
 'card-merchant_ps_0d_ps14d_amount',
 'card-merchant_ps_0d_ps30d_amount',
 'card-merchant_ps_1d_ps7d_amount',
 'card-merchant_ps_1d_ps14d_amount',
 'card-merchant_ps_1d_ps30d_amount',
 'card-zip_amount',
 'card-zip_#d_since',
 'card-zip_ps_0d_count',
 'card-zip_ps_1d_count',
 'card-zip_ps_3d_count',
 'card-zip_ps_7d_count',
 'card-zip_ps_14d_count',
 'card-zip_ps_30d_count',
 'card-zip_ps_0d_average',
 'card-zip_ps_0d_maximum',
 'card-zip_ps_0d_median',
 'card-zip_ps_0d_total',
 'card-zip_ps_0d_ActualAverage',
 'card-zip_ps_0d_ActualMaximum',
 'card-zip_ps_0d_ActualMedian',
 'card-zip_ps_0d_ActualTotal',
 'card-zip_ps_1d_average',
 'card-zip_ps_1d_maximum',
 'card-zip_ps_1d_median',
 'card-zip_ps_1d_total',
 'card-zip_ps_1d_ActualAverage',
 'card-zip_ps_1d_ActualMaximum',
 'card-zip_ps_1d_ActualMedian',
 'card-zip_ps_1d_ActualTotal',
 'card-zip_ps_3d_average',
 'card-zip_ps_3d_maximum',
 'card-zip_ps_3d_median',
 'card-zip_ps_3d_total',
 'card-zip_ps_3d_ActualAverage',
 'card-zip_ps_3d_ActualMaximum',
 'card-zip_ps_3d_ActualMedian',
 'card-zip_ps_3d_ActualTotal',
 'card-zip_ps_7d_average',
 'card-zip_ps_7d_maximum',
 'card-zip_ps_7d_median',
 'card-zip_ps_7d_total',
 'card-zip_ps_7d_ActualAverage',
 'card-zip_ps_7d_ActualMaximum',
 'card-zip_ps_7d_ActualMedian',
 'card-zip_ps_7d_ActualTotal',
 'card-zip_ps_14d_average',
 'card-zip_ps_14d_maximum',
 'card-zip_ps_14d_median',
 'card-zip_ps_14d_total',
 'card-zip_ps_14d_ActualAverage',
 'card-zip_ps_14d_ActualMaximum',
 'card-zip_ps_14d_ActualMedian',
 'card-zip_ps_14d_ActualTotal',
 'card-zip_ps_30d_average',
 'card-zip_ps_30d_maximum',
 'card-zip_ps_30d_median',
 'card-zip_ps_30d_total',
 'card-zip_ps_30d_ActualAverage',
 'card-zip_ps_30d_ActualMaximum',
 'card-zip_ps_30d_ActualMedian',
 'card-zip_ps_30d_ActualTotal',
 'card-zip_ps_0d_ps7d_number',
 'card-zip_ps_0d_ps14d_number',
 'card-zip_ps_0d_ps30d_number',
 'card-zip_ps_1d_ps7d_number',
 'card-zip_ps_1d_ps14d_number',
 'card-zip_ps_1d_ps30d_number',
 'card-zip_ps_0d_ps7d_amount',
 'card-zip_ps_0d_ps14d_amount',
 'card-zip_ps_0d_ps30d_amount',
 'card-zip_ps_1d_ps7d_amount',
 'card-zip_ps_1d_ps14d_amount',
 'card-zip_ps_1d_ps30d_amount',
 'card-state_amount',
 'card-state_#d_since',
 'card-state_ps_0d_count',
 'card-state_ps_1d_count',
 'card-state_ps_3d_count',
 'card-state_ps_7d_count',
 'card-state_ps_14d_count',
 'card-state_ps_30d_count',
 'card-state_ps_0d_average',
 'card-state_ps_0d_maximum',
 'card-state_ps_0d_median',
 'card-state_ps_0d_total',
 'card-state_ps_0d_ActualAverage',
 'card-state_ps_0d_ActualMaximum',
 'card-state_ps_0d_ActualMedian',
 'card-state_ps_0d_ActualTotal',
 'card-state_ps_1d_average',
 'card-state_ps_1d_maximum',
 'card-state_ps_1d_median',
 'card-state_ps_1d_total',
 'card-state_ps_1d_ActualAverage',
 'card-state_ps_1d_ActualMaximum',
 'card-state_ps_1d_ActualMedian',
 'card-state_ps_1d_ActualTotal',
 'card-state_ps_3d_average',
 'card-state_ps_3d_maximum',
 'card-state_ps_3d_median',
 'card-state_ps_3d_total',
 'card-state_ps_3d_ActualAverage',
 'card-state_ps_3d_ActualMaximum',
 'card-state_ps_3d_ActualMedian',
 'card-state_ps_3d_ActualTotal',
 'card-state_ps_7d_average',
 'card-state_ps_7d_maximum',
 'card-state_ps_7d_median',
 'card-state_ps_7d_total',
 'card-state_ps_7d_ActualAverage',
 'card-state_ps_7d_ActualMaximum',
 'card-state_ps_7d_ActualMedian',
 'card-state_ps_7d_ActualTotal',
 'card-state_ps_14d_average',
 'card-state_ps_14d_maximum',
 'card-state_ps_14d_median',
 'card-state_ps_14d_total',
 'card-state_ps_14d_ActualAverage',
 'card-state_ps_14d_ActualMaximum',
 'card-state_ps_14d_ActualMedian',
 'card-state_ps_14d_ActualTotal',
 'card-state_ps_30d_average',
 'card-state_ps_30d_maximum',
 'card-state_ps_30d_median',
 'card-state_ps_30d_total',
 'card-state_ps_30d_ActualAverage',
 'card-state_ps_30d_ActualMaximum',
 'card-state_ps_30d_ActualMedian',
 'card-state_ps_30d_ActualTotal',
 'card-state_ps_0d_ps7d_number',
 'card-state_ps_0d_ps14d_number',
 'card-state_ps_0d_ps30d_number',
 'card-state_ps_1d_ps7d_number',
 'card-state_ps_1d_ps14d_number',
 'card-state_ps_1d_ps30d_number',
 'card-state_ps_0d_ps7d_amount',
 'card-state_ps_0d_ps14d_amount',
 'card-state_ps_0d_ps30d_amount',
 'card-state_ps_1d_ps7d_amount',
 'card-state_ps_1d_ps14d_amount',
 'card-state_ps_1d_ps30d_amount']

In [26]:
len(co)

343

In [27]:
finalDF

,record,date,amount,card_amount,card_#d_since,card_ps_0d_count,card_ps_1d_count,card_ps_3d_count,card_ps_7d_count,card_ps_14d_count,...,card-state_ps_0d_ps30d_number,card-state_ps_1d_ps7d_number,card-state_ps_1d_ps14d_number,card-state_ps_1d_ps30d_number,card-state_ps_0d_ps7d_amount,card-state_ps_0d_ps14d_amount,card-state_ps_0d_ps30d_amount,card-state_ps_1d_ps7d_amount,card-state_ps_1d_ps14d_amount,card-state_ps_1d_ps30d_amount
0,1,2010-01-01,3.62,3.62,0.0,1,1,1,1,1,...,30.0,7.00,14.0,30.0,1.0,1.0,1.0,1.0,1.0,1.0
1,2,2010-01-01,31.42,31.42,0.0,1,1,1,1,1,...,30.0,7.00,14.0,30.0,1.0,1.0,1.0,1.0,1.0,1.0
2,3,2010-01-01,178.49,178.49,0.0,1,1,1,1,1,...,30.0,7.00,14.0,30.0,1.0,1.0,1.0,1.0,1.0,1.0
3,4,2010-01-01,3.62,3.62,0.0,1,1,1,1,1,...,30.0,7.00,14.0,30.0,1.0,1.0,1.0,1.0,1.0,1.0
4,5,2010-01-01,3.62,3.62,0.0,2,2,2,2,2,...,30.0,7.00,14.0,30.0,1.0,1.0,1.0,1.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96392,96749,2010-12-31,84.79,84.79,37.0,1,1,1,1,1,...,30.0,7.00,14.0,30.0,1.0,1.0,1.0,1.0,1.0,1.0
96393,96750,2010-12-31,118.75,118.75,0.0,2,2,5,5,13,...,7.5,3.50,3.5,7.5,1.0,1.0,1.0,1.0,1.0,1.0
96394,96751,2010-12-31,363.56,363.56,1.0,1,3,5,6,6,...,15.0,7.00,14.0,30.0,1.0,1.0,1.0,1.0,1.0,1.0
96395,96752,2010-12-31,2202.03,2202.03,9.0,1,1,1,1,3,...,10.0,7.00,14.0,10.0,1.0,1.0,1.0,1.0,1.0,1.0
96396,96753,2010-12-31,554.64,554.64,2.0,1,1,6,6,10,...,5.0,1.75,3.5,5.0,1.0,1.0,1.0,1.0,1.0,1.0

In [28]:
finalDF.to_csv('half-result.csv')

In [29]:
data = finalDF
data.head()

,record,date,amount,card_amount,card_#d_since,card_ps_0d_count,card_ps_1d_count,card_ps_3d_count,card_ps_7d_count,card_ps_14d_count,...,card-state_ps_0d_ps30d_number,card-state_ps_1d_ps7d_number,card-state_ps_1d_ps14d_number,card-state_ps_1d_ps30d_number,card-state_ps_0d_ps7d_amount,card-state_ps_0d_ps14d_amount,card-state_ps_0d_ps30d_amount,card-state_ps_1d_ps7d_amount,card-state_ps_1d_ps14d_amount,card-state_ps_1d_ps30d_amount
0,1,2010-01-01,3.62,3.62,0.0,1,1,1,1,1,...,30.0,7.0,14.0,30.0,1.0,1.0,1.0,1.0,1.0,1.0
1,2,2010-01-01,31.42,31.42,0.0,1,1,1,1,1,...,30.0,7.0,14.0,30.0,1.0,1.0,1.0,1.0,1.0,1.0
2,3,2010-01-01,178.49,178.49,0.0,1,1,1,1,1,...,30.0,7.0,14.0,30.0,1.0,1.0,1.0,1.0,1.0,1.0
3,4,2010-01-01,3.62,3.62,0.0,1,1,1,1,1,...,30.0,7.0,14.0,30.0,1.0,1.0,1.0,1.0,1.0,1.0
4,5,2010-01-01,3.62,3.62,0.0,2,2,2,2,2,...,30.0,7.0,14.0,30.0,1.0,1.0,1.0,1.0,1.0,1.0

# 3. Create Benford's Law variable

## a. Remove Fedex transactions

In [7]:
import pandas as pd
import numpy as np
import math
import matplotlib.pyplot as plt
import seaborn as sns
import datetime as dt

In [8]:
data=pd.read_csv('half-result.csv')
df = pd.read_csv('clean data.csv')

In [9]:
data.head()

,Unnamed: 0,record,date,amount,card_amount,card_#d_since,card_ps_0d_count,card_ps_1d_count,card_ps_3d_count,card_ps_7d_count,...,card-state_ps_0d_ps30d_number,card-state_ps_1d_ps7d_number,card-state_ps_1d_ps14d_number,card-state_ps_1d_ps30d_number,card-state_ps_0d_ps7d_amount,card-state_ps_0d_ps14d_amount,card-state_ps_0d_ps30d_amount,card-state_ps_1d_ps7d_amount,card-state_ps_1d_ps14d_amount,card-state_ps_1d_ps30d_amount
0,0,1,2010-01-01,3.62,3.62,0.0,1,1,1,1,...,30.0,7.0,14.0,30.0,1.0,1.0,1.0,1.0,1.0,1.0
1,1,2,2010-01-01,31.42,31.42,0.0,1,1,1,1,...,30.0,7.0,14.0,30.0,1.0,1.0,1.0,1.0,1.0,1.0
2,2,3,2010-01-01,178.49,178.49,0.0,1,1,1,1,...,30.0,7.0,14.0,30.0,1.0,1.0,1.0,1.0,1.0,1.0
3,3,4,2010-01-01,3.62,3.62,0.0,1,1,1,1,...,30.0,7.0,14.0,30.0,1.0,1.0,1.0,1.0,1.0,1.0
4,4,5,2010-01-01,3.62,3.62,0.0,2,2,2,2,...,30.0,7.0,14.0,30.0,1.0,1.0,1.0,1.0,1.0,1.0

In [10]:
import re

In [11]:
data['merchdes'] = df['merchdes']
data.head()

,Unnamed: 0,record,date,amount,card_amount,card_#d_since,card_ps_0d_count,card_ps_1d_count,card_ps_3d_count,card_ps_7d_count,...,card-state_ps_1d_ps7d_number,card-state_ps_1d_ps14d_number,card-state_ps_1d_ps30d_number,card-state_ps_0d_ps7d_amount,card-state_ps_0d_ps14d_amount,card-state_ps_0d_ps30d_amount,card-state_ps_1d_ps7d_amount,card-state_ps_1d_ps14d_amount,card-state_ps_1d_ps30d_amount,merchdes
0,0,1,2010-01-01,3.62,3.62,0.0,1,1,1,1,...,7.0,14.0,30.0,1.0,1.0,1.0,1.0,1.0,1.0,FEDEX SHP 12/23/09 AB#
1,1,2,2010-01-01,31.42,31.42,0.0,1,1,1,1,...,7.0,14.0,30.0,1.0,1.0,1.0,1.0,1.0,1.0,SERVICE MERCHANDISE #81
2,2,3,2010-01-01,178.49,178.49,0.0,1,1,1,1,...,7.0,14.0,30.0,1.0,1.0,1.0,1.0,1.0,1.0,OFFICE DEPOT #191
3,3,4,2010-01-01,3.62,3.62,0.0,1,1,1,1,...,7.0,14.0,30.0,1.0,1.0,1.0,1.0,1.0,1.0,FEDEX SHP 12/28/09 AB#
4,4,5,2010-01-01,3.62,3.62,0.0,2,2,2,2,...,7.0,14.0,30.0,1.0,1.0,1.0,1.0,1.0,1.0,FEDEX SHP 12/23/09 AB#

In [12]:
fedex = []
merchdes_lower=data.merchdes.str.lower()
for des in merchdes_lower:
    result = re.findall(r'\bfed.*ex\b', des)
    if result != []:
        fedex.append(des)

In [13]:
set(fedex)

{'fed ex #16',
 'fedex danger gds seminar',
 'fedex sameday service',
 'fedex shp 01/03/10 ab#',
 'fedex shp 01/04/10 ab#',
 'fedex shp 01/05/10 ab#',
 'fedex shp 01/06/10 ab#',
 'fedex shp 01/07/10 ab#',
 'fedex shp 01/10/10 ab#',
 'fedex shp 01/11/10 ab#',
 'fedex shp 01/12/10 ab#',
 'fedex shp 01/13/10 ab#',
 'fedex shp 01/14/10 ab#',
 'fedex shp 01/17/10 ab#',
 'fedex shp 01/18/10 ab#',
 'fedex shp 01/19/10 ab#',
 'fedex shp 01/20/10 ab#',
 'fedex shp 01/21/10 ab#',
 'fedex shp 01/22/10 ab#',
 'fedex shp 01/24/10 ab#',
 'fedex shp 01/25/10 ab#',
 'fedex shp 01/26/10 ab#',
 'fedex shp 01/27/10 ab#',
 'fedex shp 01/28/10 ab#',
 'fedex shp 01/29/10 ab#',
 'fedex shp 01/31/10 ab#',
 'fedex shp 02/01/10 ab#',
 'fedex shp 02/02/10 ab#',
 'fedex shp 02/03/10 ab#',
 'fedex shp 02/04/10 ab#',
 'fedex shp 02/07/10 ab#',
 'fedex shp 02/08/10 ab#',
 'fedex shp 02/09/10 ab#',
 'fedex shp 02/10/10 ab#',
 'fedex shp 02/11/10 ab#',
 'fedex shp 02/14/10 ab#',
 'fedex shp 02/15/10 ab#',
 'fedex shp 02/16/10 ab#',
 'fedex shp 02/17/10 ab#',
 'fedex shp 02/18/10 ab#',
 'fedex shp 02/20/10 ab#',
 'fedex shp 02/21/10 ab#',
 'fedex shp 02/22/10 ab#',
 'fedex shp 02/23/10 ab#',
 'fedex shp 02/24/10 ab#',
 'fedex shp 02/25/10 ab#',
 'fedex shp 02/26/10 ab#',
 'fedex shp 02/28/10 ab#',
 'fedex shp 02/29/10 ab#',
 'fedex shp 03/01/10 ab#',
 'fedex shp 03/02/10 ab#',
 'fedex shp 03/03/10 ab#',
 'fedex shp 03/06/10 ab#',
 'fedex shp 03/07/10 ab#',
 'fedex shp 03/08/10 ab#',
 'fedex shp 03/09/10 ab#',
 'fedex shp 03/10/10 ab#',
 'fedex shp 03/11/10 ab#',
 'fedex shp 03/13/10 ab#',
 'fedex shp 03/14/10 ab#',
 'fedex shp 03/15/10 ab#',
 'fedex shp 03/16/10 ab#',
 'fedex shp 03/17/10 ab#',
 'fedex shp 03/20/10 ab#',
 'fedex shp 03/21/10 ab#',
 'fedex shp 03/22/10 ab#',
 'fedex shp 03/23/10 ab#',
 'fedex shp 03/24/10 ab#',
 'fedex shp 03/27/10 ab#',
 'fedex shp 03/28/10 ab#',
 'fedex shp 03/29/10 ab#',
 'fedex shp 03/30/10 ab#',
 'fedex shp 03/31/10 ab#',
 'fedex shp 04/03/10 ab#',
 'fedex shp 04/04/10 ab#',
 'fedex shp 04/05/10 ab#',
 'fedex shp 04/06/10 ab#',
 'fedex shp 04/07/10 ab#',
 'fedex shp 04/10/10 ab#',
 'fedex shp 04/11/10 ab#',
 'fedex shp 04/12/10 ab#',
 'fedex shp 04/13/10 ab#',
 'fedex shp 04/14/10 ab#',
 'fedex shp 04/15/10 ab#',
 'fedex shp 04/17/10 ab#',
 'fedex shp 04/18/10 ab#',
 'fedex shp 04/19/10 ab#',
 'fedex shp 04/20/10 ab#',
 'fedex shp 04/21/10 ab#',
 'fedex shp 04/22/10 ab#',
 'fedex shp 04/24/10 ab#',
 'fedex shp 04/25/10 ab#',
 'fedex shp 04/26/10 ab#',
 'fedex shp 04/27/10 ab#',
 'fedex shp 04/28/10 ab#',
 'fedex shp 04/29/10 ab#',
 'fedex shp 05/01/10 ab#',
 'fedex shp 05/02/10 ab#',
 'fedex shp 05/03/10 ab#',
 'fedex shp 05/04/10 ab#',
 'fedex shp 05/05/10 ab#',
 'fedex shp 05/06/10 ab#',
 'fedex shp 05/08/10 ab#',
 'fedex shp 05/09/10 ab#',
 'fedex shp 05/10/10 ab#',
 'fedex shp 05/11/10 ab#',
 'fedex shp 05/12/10 ab#',
 'fedex shp 05/13/10 ab#',
 'fedex shp 05/15/10 ab#',
 'fedex shp 05/16/10 ab#',
 'fedex shp 05/17/10 ab#',
 'fedex shp 05/18/10 ab#',
 'fedex shp 05/19/10 ab#',
 'fedex shp 05/20/10 ab#',
 'fedex shp 05/22/10 ab#',
 'fedex shp 05/23/10 ab#',
 'fedex shp 05/24/10 ab#',
 'fedex shp 05/25/10 ab#',
 'fedex shp 05/26/10 ab#',
 'fedex shp 05/27/10 ab#',
 'fedex shp 05/30/10 ab#',
 'fedex shp 05/31/10 ab#',
 'fedex shp 06/01/10 ab#',
 'fedex shp 06/02/10 ab#',
 'fedex shp 06/03/10 ab#',
 'fedex shp 06/05/10 ab#',
 'fedex shp 06/06/10 ab#',
 'fedex shp 06/07/10 ab#',
 'fedex shp 06/08/10 ab#',
 'fedex shp 06/09/10 ab#',
 'fedex shp 06/10/10 ab#',
 'fedex shp 06/12/10 ab#',
 'fedex shp 06/13/10 ab#',
 'fedex shp 06/14/10 ab#',
 'fedex shp 06/15/10 ab#',
 'fedex shp 06/16/10 ab#',
 'fedex shp 06/17/10 ab#',
 'fedex shp 06/19/10 ab#',
 'fedex shp 06/20/10 ab#',
 'fedex shp 06/21/10 ab#',
 'fedex shp 06/22/10 ab#',
 'fedex shp 06/23/10 ab#',
 'fedex shp 06/24/10 ab#',
 'fedex shp 06/26/10 ab#',
 'fedex shp 06/27/10 ab#',
 'fedex shp 06/28/10 ab#',
 'fedex shp 06/29/10 ab#',
 'fedex shp 06/30/10 ab#',
 'fedex shp 07/01/10 ab#',
 'fedex shp 07/03/10 ab#',
 'fedex shp 07/05/10 ab#',
 'fedex shp 07/06/10 ab#',
 'fedex shp 07/07/10 ab#',
 'fedex shp 07/08/10 ab#',
 'fedex shp 07/10/10 ab#',
 'fedex shp 07/11/10 ab#',
 'fedex shp 07/12/10 ab#',
 'fedex shp 07/13/10 ab#',
 'fedex shp 07/14/10 ab#',
 'fedex shp 07/15/10 ab#',
 'fedex shp 07/17/10 ab#',
 'fedex shp 07/18/10 ab#',
 'fedex shp 07/19/10 ab#',
 'fedex shp 07/20/10 ab#',
 'fedex shp 07/21/10 ab#',
 'fedex shp 07/22/10 ab#',
 'fedex shp 07/24/10 ab#',
 'fedex shp 07/25/10 ab#',
 'fedex shp 07/26/10 ab#',
 'fedex shp 07/27/10 ab#',
 'fedex shp 07/28/10 ab#',
 'fedex shp 07/31/10 ab#',
 'fedex shp 08/01/10 ab#',
 'fedex shp 08/02/10 ab#',
 'fedex shp 08/03/10 ab#',
 'fedex shp 08/04/10 ab#',
 'fedex shp 08/05/10 ab#',
 'fedex shp 08/07/10 ab#',
 'fedex shp 08/08/10 ab#',
 'fedex shp 08/09/10 ab#',
 'fedex shp 08/10/10 ab#',
 'fedex shp 08/11/10 ab#',
 'fedex shp 08/12/10 ab#',
 'fedex shp 08/14/10 ab#',
 'fedex shp 08/15/10 ab#',
 'fedex shp 08/16/10 ab#',
 'fedex shp 08/17/10 ab#',
 'fedex shp 08/18/10 ab#',
 'fedex shp 08/19/10 ab#',
 'fedex shp 08/21/10 ab#',
 'fedex shp 08/22/10 ab#',
 'fedex shp 08/23/10 ab#',
 'fedex shp 08/24/10 ab#',
 'fedex shp 08/25/10 ab#',
 'fedex shp 08/26/10 ab#',
 'fedex shp 08/28/10 ab#',
 'fedex shp 08/29/10 ab#',
 'fedex shp 08/30/10 ab#',
 'fedex shp 08/31/10 ab#',
 'fedex shp 09/01/10 ab#',
 'fedex shp 09/05/10 ab#',
 'fedex shp 09/06/10 ab#',
 'fedex shp 09/07/10 ab#',
 'fedex shp 09/08/10 ab#',
 'fedex shp 09/11/10 ab#',
 'fedex shp 09/12/10 ab#',
 'fedex shp 09/13/10 ab#',
 'fedex shp 09/14/10 ab#',
 'fedex shp 09/15/10 ab#',
 'fedex shp 09/16/10 ab#',
 'fedex shp 09/18/10 ab#',
 'fedex shp 09/19/10 ab#',
 'fedex shp 09/20/10 ab#',
 'fedex shp 09/21/10 ab#',
 'fedex shp 09/22/10 ab#',
 'fedex shp 09/23/10 ab#',
 'fedex shp 09/25/10 ab#',
 'fedex shp 09/27/10 ab#',
 'fedex shp 10/05/10 ab#',
 'fedex shp 10/06/10 ab#',
 'fedex shp 10/07/10 ab#',
 'fedex shp 10/21/10 ab#',
 'fedex shp 10/22/10 ab#',
 'fedex shp 10/25/10 ab#',
 'fedex shp 10/26/10 ab#',
 'fedex shp 10/27/10 ab#',
 'fedex shp 10/29/10 ab#',
 'fedex shp 11/03/10 ab#',
 'fedex shp 11/04/10 ab#',
 'fedex shp 11/05/10 ab#',
 'fedex shp 11/08/10 ab#',
 'fedex shp 11/09/10 ab#',
 'fedex shp 11/10/10 ab#',
 'fedex shp 11/11/10 ab#',
 'fedex shp 11/12/10 ab#',
 'fedex shp 11/15/10 ab#',
 'fedex shp 11/16/10 ab#',
 'fedex shp 11/17/10 ab#',
 'fedex shp 11/18/09 ab#',
 'fedex shp 11/18/10 ab#',
 'fedex shp 11/19/10 ab#',
 'fedex shp 11/22/10 ab#',
 'fedex shp 11/23/10 ab#',
 'fedex shp 11/24/10 ab#',
 'fedex shp 11/26/10 ab#',
 'fedex shp 11/29/10 ab#',
 'fedex shp 11/30/10 ab#',
 'fedex shp 12/01/10 ab#',
 'fedex shp 12/02/10 ab#',
 'fedex shp 12/03/10 ab#',
 'fedex shp 12/06/10 ab#',
 'fedex shp 12/07/10 ab#',
 'fedex shp 12/08/10 ab#',
 'fedex shp 12/09/10 ab#',
 'fedex shp 12/10/09 ab#',
 'fedex shp 12/10/10 ab#',
 'fedex shp 12/11/10 ab#',
 'fedex shp 12/13/10 ab#',
 'fedex shp 12/14/09 ab#',
 'fedex shp 12/14/10 ab#',
 'fedex shp 12/15/10 ab#',
 'fedex shp 12/16/09 ab#',
 'fedex shp 12/16/10 ab#',
 'fedex shp 12/17/09 ab#',
 'fedex shp 12/17/10 ab#',
 'fedex shp 12/20/09 ab#',
 'fedex shp 12/20/10 ab#',
 'fedex shp 12/21/09 ab#',
 'fedex shp 12/21/10 ab#',
 'fedex shp 12/22/09 ab#',
 'fedex shp 12/22/10 ab#',
 'fedex shp 12/23/09 ab#',
 'fedex shp 12/23/10 ab#',
 'fedex shp 12/27/09 ab#',
 'fedex shp 12/27/10 ab#',
 'fedex shp 12/28/09 ab#',
 'fedex shp 12/28/10 ab#',
 'fedex shp 12/29/09 ab#',
 'fedex shp 12/29/10 ab#',
 'fedex shp 12/30/09 ab#',
 'usgpo sod-fed ex'}

In [144]:
clean = data[data['merchdes'].isin([x.upper() for x in fedex])==False].reset_index(inplace=False, drop=True)

In [145]:
data[data['merchdes'].isin([x.upper() for x in fedex])==True]

,Unnamed: 0,record,date,amount,card_amount,card_#d_since,card_ps_0d_count,card_ps_1d_count,card_ps_3d_count,card_ps_7d_count,...,card-state_ps_1d_ps7d_number,card-state_ps_1d_ps14d_number,card-state_ps_1d_ps30d_number,card-state_ps_0d_ps7d_amount,card-state_ps_0d_ps14d_amount,card-state_ps_0d_ps30d_amount,card-state_ps_1d_ps7d_amount,card-state_ps_1d_ps14d_amount,card-state_ps_1d_ps30d_amount,merchdes
0,0,1,2010-01-01,3.62,3.62,0.0,1,1,1,1,...,7.000000,14.000000,30.000000,1.0,1.0,1.0,1.0,1.0,1.0,FEDEX SHP 12/23/09 AB#
3,3,4,2010-01-01,3.62,3.62,0.0,1,1,1,1,...,7.000000,14.000000,30.000000,1.0,1.0,1.0,1.0,1.0,1.0,FEDEX SHP 12/28/09 AB#
4,4,5,2010-01-01,3.62,3.62,0.0,2,2,2,2,...,7.000000,14.000000,30.000000,1.0,1.0,1.0,1.0,1.0,1.0,FEDEX SHP 12/23/09 AB#
5,5,6,2010-01-01,3.67,3.67,0.0,1,1,1,1,...,7.000000,14.000000,30.000000,1.0,1.0,1.0,1.0,1.0,1.0,FEDEX SHP 12/22/09 AB#
6,6,7,2010-01-01,3.62,3.62,0.0,1,1,1,1,...,7.000000,14.000000,30.000000,1.0,1.0,1.0,1.0,1.0,1.0,FEDEX SHP 12/28/09 AB#
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96060,96060,96416,2010-12-29,4.37,4.37,1.0,1,2,3,5,...,7.000000,14.000000,30.000000,1.0,1.0,1.0,1.0,1.0,1.0,FEDEX SHP 12/13/10 AB#
96071,96071,96427,2010-12-29,3.62,3.62,1.0,1,2,4,5,...,2.800000,1.647059,1.363636,1.0,1.0,1.0,1.0,1.0,1.0,FEDEX SHP 12/21/10 AB#
96078,96078,96434,2010-12-29,8.31,8.31,1.0,1,2,3,5,...,3.500000,7.000000,15.000000,1.0,1.0,1.0,1.0,1.0,1.0,FEDEX SHP 12/21/10 AB#
96104,96104,96460,2010-12-29,3.62,3.62,1.0,1,3,12,46,...,0.456522,0.792453,1.267606,1.0,1.0,1.0,1.0,1.0,1.0,FEDEX SHP 12/16/10 AB#
96371,96371,96728,2010-12-31,4.43,4.43,4.0,1,1,1,2,...,3.500000,2.800000,3.333333,1.0,1.0,1.0,1.0,1.0,1.0,FEDEX SHP 04/03/10 AB#

In [146]:
clean.shape

(84598, 345)

In [147]:
data.shape

(96397, 345)

In [148]:
len(fedex)

11799

## b. Extract the first digit of Amount

In [149]:
clean.head()

,Unnamed: 0,record,date,amount,card_amount,card_#d_since,card_ps_0d_count,card_ps_1d_count,card_ps_3d_count,card_ps_7d_count,...,card-state_ps_1d_ps7d_number,card-state_ps_1d_ps14d_number,card-state_ps_1d_ps30d_number,card-state_ps_0d_ps7d_amount,card-state_ps_0d_ps14d_amount,card-state_ps_0d_ps30d_amount,card-state_ps_1d_ps7d_amount,card-state_ps_1d_ps14d_amount,card-state_ps_1d_ps30d_amount,merchdes
0,1,2,2010-01-01,31.42,31.42,0.0,1,1,1,1,...,7.0,14.0,30.0,1.0,1.0,1.0,1.0,1.0,1.0,SERVICE MERCHANDISE #81
1,2,3,2010-01-01,178.49,178.49,0.0,1,1,1,1,...,7.0,14.0,30.0,1.0,1.0,1.0,1.0,1.0,1.0,OFFICE DEPOT #191
2,7,8,2010-01-01,230.32,230.32,0.0,1,1,1,1,...,7.0,14.0,30.0,1.0,1.0,1.0,1.0,1.0,1.0,MIAMI COMPUTER SUPPLY
3,8,9,2010-01-01,62.11,62.11,0.0,1,1,1,1,...,7.0,14.0,30.0,1.0,1.0,1.0,1.0,1.0,1.0,FISHER SCI ATL
4,13,14,2010-01-01,106.89,106.89,0.0,1,1,1,1,...,7.0,14.0,30.0,1.0,1.0,1.0,1.0,1.0,1.0,CDW*GOVERNMENT INC

In [150]:
clean['amount_str'] = clean['amount'].astype(str)

In [151]:
clean.head()

,Unnamed: 0,record,date,amount,card_amount,card_#d_since,card_ps_0d_count,card_ps_1d_count,card_ps_3d_count,card_ps_7d_count,...,card-state_ps_1d_ps14d_number,card-state_ps_1d_ps30d_number,card-state_ps_0d_ps7d_amount,card-state_ps_0d_ps14d_amount,card-state_ps_0d_ps30d_amount,card-state_ps_1d_ps7d_amount,card-state_ps_1d_ps14d_amount,card-state_ps_1d_ps30d_amount,merchdes,amount_str
0,1,2,2010-01-01,31.42,31.42,0.0,1,1,1,1,...,14.0,30.0,1.0,1.0,1.0,1.0,1.0,1.0,SERVICE MERCHANDISE #81,31.42
1,2,3,2010-01-01,178.49,178.49,0.0,1,1,1,1,...,14.0,30.0,1.0,1.0,1.0,1.0,1.0,1.0,OFFICE DEPOT #191,178.49
2,7,8,2010-01-01,230.32,230.32,0.0,1,1,1,1,...,14.0,30.0,1.0,1.0,1.0,1.0,1.0,1.0,MIAMI COMPUTER SUPPLY,230.32
3,8,9,2010-01-01,62.11,62.11,0.0,1,1,1,1,...,14.0,30.0,1.0,1.0,1.0,1.0,1.0,1.0,FISHER SCI ATL,62.11
4,13,14,2010-01-01,106.89,106.89,0.0,1,1,1,1,...,14.0,30.0,1.0,1.0,1.0,1.0,1.0,1.0,CDW*GOVERNMENT INC,106.89

In [152]:
clean['firstd']='500'
firstd = []
for num in clean['amount_str']:
     firstd.append(re.findall(r'[1-9]{1}', num)[0])

In [153]:
clean['firstd']=firstd
clean['firstd']=clean['firstd'].astype(float)

In [154]:
clean.head()

,Unnamed: 0,record,date,amount,card_amount,card_#d_since,card_ps_0d_count,card_ps_1d_count,card_ps_3d_count,card_ps_7d_count,...,card-state_ps_1d_ps30d_number,card-state_ps_0d_ps7d_amount,card-state_ps_0d_ps14d_amount,card-state_ps_0d_ps30d_amount,card-state_ps_1d_ps7d_amount,card-state_ps_1d_ps14d_amount,card-state_ps_1d_ps30d_amount,merchdes,amount_str,firstd
0,1,2,2010-01-01,31.42,31.42,0.0,1,1,1,1,...,30.0,1.0,1.0,1.0,1.0,1.0,1.0,SERVICE MERCHANDISE #81,31.42,3.0
1,2,3,2010-01-01,178.49,178.49,0.0,1,1,1,1,...,30.0,1.0,1.0,1.0,1.0,1.0,1.0,OFFICE DEPOT #191,178.49,1.0
2,7,8,2010-01-01,230.32,230.32,0.0,1,1,1,1,...,30.0,1.0,1.0,1.0,1.0,1.0,1.0,MIAMI COMPUTER SUPPLY,230.32,2.0
3,8,9,2010-01-01,62.11,62.11,0.0,1,1,1,1,...,30.0,1.0,1.0,1.0,1.0,1.0,1.0,FISHER SCI ATL,62.11,6.0
4,13,14,2010-01-01,106.89,106.89,0.0,1,1,1,1,...,30.0,1.0,1.0,1.0,1.0,1.0,1.0,CDW*GOVERNMENT INC,106.89,1.0

## c. Create cardnum dataframe

In [155]:
clean['card'] = df['card']
clean['merch#'] = df['merch#']

In [156]:
clean['low/high']=clean['firstd'].apply(lambda x: 'low' if x<=3 else 'high')

In [157]:
clean['low'] = 0
clean['high'] = 0
clean['low'] = clean['low/high'].apply(lambda x: 1 if x=='low' else 0)
clean['high'] = clean['low/high'].apply(lambda x: 1 if x=='high' else 0)
clean.head()

,Unnamed: 0,record,date,amount,card_amount,card_#d_since,card_ps_0d_count,card_ps_1d_count,card_ps_3d_count,card_ps_7d_count,...,card-state_ps_1d_ps14d_amount,card-state_ps_1d_ps30d_amount,merchdes,amount_str,firstd,card,merch#,low/high,low,high
0,1,2,2010-01-01,31.42,31.42,0.0,1,1,1,1,...,1.0,1.0,SERVICE MERCHANDISE #81,31.42,3.0,5142190439,5509006296254,low,1,0
1,2,3,2010-01-01,178.49,178.49,0.0,1,1,1,1,...,1.0,1.0,OFFICE DEPOT #191,178.49,1.0,5142183973,61003026333,low,1,0
2,7,8,2010-01-01,230.32,230.32,0.0,1,1,1,1,...,1.0,1.0,MIAMI COMPUTER SUPPLY,230.32,2.0,5142131721,4503082993600,low,1,0
3,8,9,2010-01-01,62.11,62.11,0.0,1,1,1,1,...,1.0,1.0,FISHER SCI ATL,62.11,6.0,5142148452,5509006296254,high,0,1
4,13,14,2010-01-01,106.89,106.89,0.0,1,1,1,1,...,1.0,1.0,CDW*GOVERNMENT INC,106.89,1.0,5142190439,5509006296254,low,1,0

In [158]:
clean['nlow_card'] = (clean.groupby('card')['low'].expanding().sum().reset_index(level=0, drop=True))
clean['nhigh_card'] = (clean.groupby('card')['high'].expanding().sum().reset_index(level=0, drop=True))

clean['nlow_merch#'] = (clean.groupby('merch#')['low'].expanding().sum().reset_index(level=0, drop=True))
clean['nhigh_merch#'] = (clean.groupby('merch#')['high'].expanding().sum().reset_index(level=0, drop=True))

clean.head(20)

,Unnamed: 0,record,date,amount,card_amount,card_#d_since,card_ps_0d_count,card_ps_1d_count,card_ps_3d_count,card_ps_7d_count,...,firstd,card,merch#,low/high,low,high,nlow_card,nhigh_card,nlow_merch#,nhigh_merch#
0,1,2,2010-01-01,31.42,31.42,0.0,1,1,1,1,...,3.0,5142190439,5509006296254,low,1,0,1.0,0.0,1.0,0.0
1,2,3,2010-01-01,178.49,178.49,0.0,1,1,1,1,...,1.0,5142183973,61003026333,low,1,0,1.0,0.0,1.0,0.0
2,7,8,2010-01-01,230.32,230.32,0.0,1,1,1,1,...,2.0,5142131721,4503082993600,low,1,0,1.0,0.0,1.0,0.0
3,8,9,2010-01-01,62.11,62.11,0.0,1,1,1,1,...,6.0,5142148452,5509006296254,high,0,1,0.0,1.0,1.0,1.0
4,13,14,2010-01-01,106.89,106.89,0.0,1,1,1,1,...,1.0,5142190439,5509006296254,low,1,0,2.0,0.0,2.0,1.0
5,14,15,2010-01-01,137.45,137.45,0.0,1,1,1,1,...,1.0,5142149874,5509006296254,low,1,0,1.0,0.0,3.0,1.0
6,19,20,2010-01-01,218.57,218.57,0.0,1,1,1,1,...,2.0,5142189277,5509006296254,low,1,0,1.0,0.0,4.0,1.0
7,23,24,2010-01-01,68.90,68.90,0.0,1,1,1,1,...,6.0,5142191182,6098208200062,high,0,1,0.0,1.0,0.0,1.0
8,26,27,2010-01-01,360.00,360.00,0.0,1,1,1,1,...,3.0,5142258629,602608969534,low,1,0,1.0,0.0,1.0,0.0
9,28,29,2010-01-01,427.00,427.00,0.0,1,1,1,1,...,4.0,5142190439,5509006296254,high,0,1,2.0,1.0,4.0,2.0
10,31,32,2010-01-01,504.60,504.60,0.0,1,1,1,1,...,5.0,5142283088,5509006296254,high,0,1,0.0,1.0,4.0,3.0
11,32,33,2010-01-01,228.00,228.00,0.0,1,1,1,1,...,2.0,5142190439,5509006296254,low,1,0,3.0,1.0,5.0,3.0
12,37,38,2010-01-01,23.61,23.61,0.0,1,1,1,1,...,2.0,5142146134,5509006296254,low,1,0,1.0,0.0,6.0,3.0
13,40,41,2010-01-01,1083.65,1083.65,0.0,2,2,2,2,...,1.0,5142124791,5725000466504,low,1,0,1.0,0.0,1.0,0.0
14,44,45,2010-01-01,76.30,76.30,0.0,1,1,1,1,...,7.0,5142151402,5725000466504,high,0,1,0.0,1.0,1.0,1.0
15,48,49,2010-01-01,32.80,32.80,0.0,1,1,1,1,...,3.0,5142148452,5509006296254,low,1,0,1.0,1.0,7.0,3.0
16,49,50,2010-01-01,259.80,259.80,0.0,1,1,1,1,...,2.0,5142148452,5509006296254,low,1,0,2.0,1.0,8.0,3.0
17,51,52,2010-01-02,20.15,20.15,1.0,1,1,1,1,...,2.0,5142125684,5509006296254,low,1,0,1.0,0.0,9.0,3.0
18,52,53,2010-01-02,530.98,530.98,1.0,1,1,1,1,...,5.0,5142139349,5509006296254,high,0,1,0.0,1.0,9.0,4.0
19,53,54,2010-01-02,36.70,36.70,1.0,1,1,1,1,...,3.0,5142190596,602608969284,low,1,0,1.0,0.0,1.0,0.0

In [159]:
clean['nlow_card'].replace(0,1,inplace=True)
clean['nlow_merch#'].replace(0,1,inplace=True)
clean['nhigh_card'].replace(0,1,inplace=True)
clean['nhigh_merch#'].replace(0,1,inplace=True)

In [160]:
clean

,Unnamed: 0,record,date,amount,card_amount,card_#d_since,card_ps_0d_count,card_ps_1d_count,card_ps_3d_count,card_ps_7d_count,...,firstd,card,merch#,low/high,low,high,nlow_card,nhigh_card,nlow_merch#,nhigh_merch#
0,1,2,2010-01-01,31.42,31.42,0.0,1,1,1,1,...,3.0,5142190439,5509006296254,low,1,0,1.0,1.0,1.0,1.0
1,2,3,2010-01-01,178.49,178.49,0.0,1,1,1,1,...,1.0,5142183973,61003026333,low,1,0,1.0,1.0,1.0,1.0
2,7,8,2010-01-01,230.32,230.32,0.0,1,1,1,1,...,2.0,5142131721,4503082993600,low,1,0,1.0,1.0,1.0,1.0
3,8,9,2010-01-01,62.11,62.11,0.0,1,1,1,1,...,6.0,5142148452,5509006296254,high,0,1,1.0,1.0,1.0,1.0
4,13,14,2010-01-01,106.89,106.89,0.0,1,1,1,1,...,1.0,5142190439,5509006296254,low,1,0,2.0,1.0,2.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84593,96392,96749,2010-12-31,84.79,84.79,37.0,1,1,1,1,...,8.0,5142142596,15907708335,high,0,1,34.0,22.0,68.0,42.0
84594,96393,96750,2010-12-31,118.75,118.75,0.0,2,2,5,5,...,1.0,5142195307,4700050550066,low,1,0,39.0,36.0,6.0,7.0
84595,96394,96751,2010-12-31,363.56,363.56,1.0,1,3,5,6,...,3.0,5142152857,930090121224,low,1,0,75.0,47.0,5700.0,3590.0
84596,96395,96752,2010-12-31,2202.03,2202.03,9.0,1,1,1,1,...,2.0,5142199728,61563,low,1,0,38.0,26.0,74.0,49.0
84597,96396,96753,2010-12-31,554.64,554.64,2.0,1,1,6,6,...,5.0,5142257356,08-0968645332,high,0,1,84.0,78.0,2.0,2.0

In [161]:
clean['n_card'] = 0

for i in range(0,84598):
    clean['n_card'][i] = clean['nlow_card'][i] + clean['nhigh_card'][i]

/Users/apple/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [162]:
clean['n_merch#'] = 0
for i in range(0,84598):
    clean['n_merch#'][i] = clean['nlow_merch#'][i] + clean['nhigh_merch#'][i]

/Users/apple/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [163]:
clean

,Unnamed: 0,record,date,amount,card_amount,card_#d_since,card_ps_0d_count,card_ps_1d_count,card_ps_3d_count,card_ps_7d_count,...,merch#,low/high,low,high,nlow_card,nhigh_card,nlow_merch#,nhigh_merch#,n_card,n_merch#
0,1,2,2010-01-01,31.42,31.42,0.0,1,1,1,1,...,5509006296254,low,1,0,1.0,1.0,1.0,1.0,2,2
1,2,3,2010-01-01,178.49,178.49,0.0,1,1,1,1,...,61003026333,low,1,0,1.0,1.0,1.0,1.0,2,2
2,7,8,2010-01-01,230.32,230.32,0.0,1,1,1,1,...,4503082993600,low,1,0,1.0,1.0,1.0,1.0,2,2
3,8,9,2010-01-01,62.11,62.11,0.0,1,1,1,1,...,5509006296254,high,0,1,1.0,1.0,1.0,1.0,2,2
4,13,14,2010-01-01,106.89,106.89,0.0,1,1,1,1,...,5509006296254,low,1,0,2.0,1.0,2.0,1.0,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84593,96392,96749,2010-12-31,84.79,84.79,37.0,1,1,1,1,...,15907708335,high,0,1,34.0,22.0,68.0,42.0,56,110
84594,96393,96750,2010-12-31,118.75,118.75,0.0,2,2,5,5,...,4700050550066,low,1,0,39.0,36.0,6.0,7.0,75,13
84595,96394,96751,2010-12-31,363.56,363.56,1.0,1,3,5,6,...,930090121224,low,1,0,75.0,47.0,5700.0,3590.0,122,9290
84596,96395,96752,2010-12-31,2202.03,2202.03,9.0,1,1,1,1,...,61563,low,1,0,38.0,26.0,74.0,49.0,64,123
84597,96396,96753,2010-12-31,554.64,554.64,2.0,1,1,6,6,...,08-0968645332,high,0,1,84.0,78.0,2.0,2.0,162,4

In [164]:
clean['R_card']=1.096*clean['nlow_card']/clean['nhigh_card']
clean['R_merch#']=1.096*clean['nlow_merch#']/clean['nhigh_merch#']

In [166]:
clean['1/R_card']=round(1/clean['R_card'],3)
clean['1/R_merch#']=round(1/clean['R_merch#'],3)

In [168]:
for i in range(len(clean)):
    clean.loc[i,'U_card']=max(clean.loc[i,'R_card'], clean.loc[i,'1/R_card'])

In [167]:
for i in range(len(clean)):
    clean.loc[i,'U_merch#']=max(clean.loc[i,'R_merch#'], clean.loc[i,'1/R_merch#'])

In [169]:
clean

,Unnamed: 0,record,date,amount,card_amount,card_#d_since,card_ps_0d_count,card_ps_1d_count,card_ps_3d_count,card_ps_7d_count,...,nlow_merch#,nhigh_merch#,n_card,n_merch#,R_card,R_merch#,1/R_card,1/R_merch#,U_merch#,U_card
0,1,2,2010-01-01,31.42,31.42,0.0,1,1,1,1,...,1.0,1.0,2,2,1.096000,1.096000,0.912,0.912,1.096000,1.096000
1,2,3,2010-01-01,178.49,178.49,0.0,1,1,1,1,...,1.0,1.0,2,2,1.096000,1.096000,0.912,0.912,1.096000,1.096000
2,7,8,2010-01-01,230.32,230.32,0.0,1,1,1,1,...,1.0,1.0,2,2,1.096000,1.096000,0.912,0.912,1.096000,1.096000
3,8,9,2010-01-01,62.11,62.11,0.0,1,1,1,1,...,1.0,1.0,2,2,1.096000,1.096000,0.912,0.912,1.096000,1.096000
4,13,14,2010-01-01,106.89,106.89,0.0,1,1,1,1,...,2.0,1.0,3,3,2.192000,2.192000,0.456,0.456,2.192000,2.192000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84593,96392,96749,2010-12-31,84.79,84.79,37.0,1,1,1,1,...,68.0,42.0,56,110,1.693818,1.774476,0.590,0.564,1.774476,1.693818
84594,96393,96750,2010-12-31,118.75,118.75,0.0,2,2,5,5,...,6.0,7.0,75,13,1.187333,0.939429,0.842,1.064,1.064000,1.187333
84595,96394,96751,2010-12-31,363.56,363.56,1.0,1,3,5,6,...,5700.0,3590.0,122,9290,1.748936,1.740167,0.572,0.575,1.740167,1.748936
84596,96395,96752,2010-12-31,2202.03,2202.03,9.0,1,1,1,1,...,74.0,49.0,64,123,1.601846,1.655184,0.624,0.604,1.655184,1.601846
84597,96396,96753,2010-12-31,554.64,554.64,2.0,1,1,6,6,...,2.0,2.0,162,4,1.180308,1.096000,0.847,0.912,1.096000,1.180308

In [170]:
clean['t_card']=(clean['n_card']-15)/3
clean['t_merch#']=(clean['n_merch#']-15)/3

In [171]:
for i in range(len(clean)):
    clean.loc[i,'U*_card']=1+((clean.loc[i,'U_card']-1)/(1+math.exp(-clean.loc[i,'t_card'])))

In [172]:
for i in range(len(clean)):
    clean.loc[i,'U*_merch#']=1+((clean.loc[i,'U_merch#']-1)/(1+math.exp(-clean.loc[i,'t_merch#'])))

In [173]:
clean

,Unnamed: 0,record,date,amount,card_amount,card_#d_since,card_ps_0d_count,card_ps_1d_count,card_ps_3d_count,card_ps_7d_count,...,R_card,R_merch#,1/R_card,1/R_merch#,U_merch#,U_card,t_card,t_merch#,U*_card,U*_merch#
0,1,2,2010-01-01,31.42,31.42,0.0,1,1,1,1,...,1.096000,1.096000,0.912,0.912,1.096000,1.096000,-4.333333,-4.333333,1.001244,1.001244
1,2,3,2010-01-01,178.49,178.49,0.0,1,1,1,1,...,1.096000,1.096000,0.912,0.912,1.096000,1.096000,-4.333333,-4.333333,1.001244,1.001244
2,7,8,2010-01-01,230.32,230.32,0.0,1,1,1,1,...,1.096000,1.096000,0.912,0.912,1.096000,1.096000,-4.333333,-4.333333,1.001244,1.001244
3,8,9,2010-01-01,62.11,62.11,0.0,1,1,1,1,...,1.096000,1.096000,0.912,0.912,1.096000,1.096000,-4.333333,-4.333333,1.001244,1.001244
4,13,14,2010-01-01,106.89,106.89,0.0,1,1,1,1,...,2.192000,2.192000,0.456,0.456,2.192000,2.192000,-4.000000,-4.000000,1.021440,1.021440
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84593,96392,96749,2010-12-31,84.79,84.79,37.0,1,1,1,1,...,1.693818,1.774476,0.590,0.564,1.774476,1.693818,13.666667,31.666667,1.693817,1.774476
84594,96393,96750,2010-12-31,118.75,118.75,0.0,2,2,5,5,...,1.187333,0.939429,0.842,1.064,1.064000,1.187333,20.000000,-0.666667,1.187333,1.021712
84595,96394,96751,2010-12-31,363.56,363.56,1.0,1,3,5,6,...,1.748936,1.740167,0.572,0.575,1.740167,1.748936,35.666667,3091.666667,1.748936,1.740167
84596,96395,96752,2010-12-31,2202.03,2202.03,9.0,1,1,1,1,...,1.601846,1.655184,0.624,0.604,1.655184,1.601846,16.333333,36.000000,1.601846,1.655184
84597,96396,96753,2010-12-31,554.64,554.64,2.0,1,1,6,6,...,1.180308,1.096000,0.847,0.912,1.096000,1.180308,49.000000,-3.666667,1.180308,1.002393

# 4. Add random number

In [174]:
import random

In [175]:
randomlist = []
for i in range(0,84598):
    n = random.randint(1,100000)
    randomlist.append(n)
randomlist

[91734,
 47628,
 83059,
 64281,
 56400,
 10582,
 47093,
 59108,
 44051,
 85456,
 74952,
 34355,
 85871,
 94677,
 93816,
 58072,
 55898,
 59637,
 20017,
 34695,
 16341,
 69685,
 72565,
 69058,
 21137,
 72201,
 67784,
 79144,
 99453,
 84772,
 61482,
 40723,
 57635,
 17678,
 37779,
 6340,
 23858,
 73973,
 66900,
 27892,
 96951,
 29086,
 17722,
 88438,
 34666,
 88250,
 64888,
 56632,
 17892,
 28626,
 75459,
 43928,
 76307,
 74701,
 61218,
 80498,
 26587,
 42694,
 83394,
 22003,
 66049,
 50667,
 2649,
 78368,
 36230,
 50721,
 14861,
 31981,
 55652,
 14000,
 60203,
 49005,
 14625,
 19547,
 36783,
 23823,
 42195,
 35738,
 17363,
 56155,
 64198,
 8111,
 3004,
 29556,
 81463,
 42218,
 93497,
 99114,
 68303,
 66694,
 9284,
 6652,
 28815,
 66429,
 80422,
 38898,
 59123,
 7515,
 9016,
 53592,
 63444,
 92332,
 3763,
 89766,
 27473,
 5759,
 90935,
 66924,
 68160,
 69300,
 77121,
 79900,
 73558,
 19176,
 48029,
 76527,
 18809,
 37402,
 67312,
 94167,
 41370,
 39861,
 25405,
 93087,
 13675,
 27488,
 66397,
 43379,
 96713,
 32977,
 85011,
 44820,
 28904,
 29786,
 4164,
 50377,
 14339,
 66083,
 3871,
 25697,
 1400,
 10822,
 71310,
 33122,
 21167,
 39944,
 35723,
 52266,
 73557,
 95559,
 63788,
 83176,
 9941,
 13687,
 88712,
 79708,
 46351,
 51390,
 87496,
 18020,
 87842,
 98161,
 98131,
 24146,
 69829,
 97385,
 51908,
 16707,
 6010,
 57185,
 53616,
 21912,
 21522,
 57061,
 96007,
 821,
 78025,
 27157,
 41355,
 62869,
 23923,
 10934,
 29424,
 16372,
 90749,
 57382,
 79279,
 85916,
 58242,
 94466,
 78336,
 65435,
 71508,
 42391,
 45896,
 259,
 97505,
 48542,
 13652,
 38244,
 44429,
 9956,
 72945,
 17530,
 40810,
 52543,
 91897,
 610,
 4298,
 89013,
 87195,
 56157,
 99439,
 23465,
 1601,
 86893,
 29074,
 57155,
 57347,
 30327,
 46386,
 60898,
 71136,
 53876,
 37602,
 22578,
 3250,
 58729,
 57899,
 68438,
 339,
 87662,
 21450,
 9262,
 48677,
 41158,
 3789,
 76968,
 52137,
 95162,
 10606,
 41832,
 11371,
 36125,
 42100,
 4872,
 4433,
 3473,
 48590,
 54459,
 27230,
 65820,
 21566,
 48338,
 43018,
 80166,
 33200,
 49126,
 85289,
 50719,
 89561,
 99587,
 64858,
 19428,
 16543,
 96310,
 65384,
 69112,
 1073,
 74581,
 86530,
 84161,
 71892,
 82785,
 11915,
 83557,
 95237,
 30722,
 22538,
 29030,
 34696,
 48594,
 6991,
 69152,
 70137,
 27443,
 76567,
 39604,
 32591,
 9326,
 77216,
 24190,
 87853,
 42258,
 42122,
 44425,
 55925,
 6931,
 76942,
 805,
 36017,
 10623,
 40793,
 18205,
 96557,
 77902,
 85093,
 50268,
 44173,
 4776,
 74186,
 42676,
 23547,
 22517,
 60809,
 75845,
 54124,
 13948,
 62766,
 27223,
 40833,
 13758,
 20552,
 51833,
 9448,
 40217,
 78645,
 40832,
 76584,
 75759,
 82858,
 44562,
 30806,
 86971,
 64512,
 28246,
 52486,
 30054,
 72264,
 74412,
 14756,
 29990,
 37667,
 55922,
 57472,
 92798,
 2757,
 19906,
 30314,
 76174,
 28783,
 89947,
 44161,
 73955,
 21941,
 91970,
 63346,
 8765,
 82626,
 4767,
 35000,
 7875,
 98304,
 96399,
 80356,
 34664,
 2604,
 95111,
 79442,
 84320,
 86654,
 78464,
 84185,
 17671,
 35544,
 18744,
 47774,
 34797,
 64888,
 12088,
 70258,
 73279,
 83284,
 22151,
 75916,
 88065,
 71471,
 17206,
 53982,
 91797,
 39218,
 62277,
 55132,
 17195,
 18915,
 70920,
 50377,
 75167,
 31884,
 30191,
 48770,
 34544,
 14109,
 17268,
 97509,
 86221,
 91768,
 64701,
 79978,
 23022,
 27737,
 47582,
 82265,
 38313,
 27185,
 58366,
 12813,
 30710,
 4803,
 52533,
 5566,
 24935,
 61968,
 98500,
 79705,
 67679,
 68481,
 53847,
 6305,
 55810,
 36371,
 15166,
 68294,
 49584,
 73434,
 31290,
 74455,
 13184,
 71180,
 94308,
 61762,
 19970,
 63450,
 3000,
 12638,
 32686,
 99022,
 22006,
 7035,
 2701,
 16735,
 87951,
 20911,
 24364,
 29511,
 66680,
 38862,
 50003,
 69752,
 50746,
 38029,
 34816,
 31749,
 3227,
 9540,
 68959,
 72938,
 46525,
 84731,
 85365,
 28877,
 59819,
 15656,
 556,
 65013,
 20845,
 37571,
 98696,
 70293,
 802,
 60893,
 12285,
 68601,
 47167,
 91140,
 64680,
 3325,
 2946,
 73241,
 61454,
 29260,
 19864,
 65415,
 28753,
 560,
 57718,
 66962,
 90386,
 40355,
 14968,
 34044,
 91710,
 67506,
 58641,
 19721,
 65473,
 60210,
 61303,
 97628,
 49828,
 52937,
 52415,
 78516,
 70098,
 92499,
 63184,
 89838,
 93812,
 18124,
 43701,
 4997,
 33088,
 535,
 76917,
 15779,
 27799,
 22746,
 11204,
 85899,
 75856,
 48405,
 73444,
 98959,
 6373,
 93495,
 70548,
 35058,
 29918,
 38998,
 82686,
 92772,
 57273,
 4022,
 54867,
 37286,
 13449,
 18679,
 27088,
 7828,
 1116,
 46923,
 55174,
 2968,
 2563,
 88051,
 90384,
 88929,
 39307,
 70071,
 3471,
 98843,
 58713,
 57624,
 42709,
 58992,
 88928,
 92675,
 66463,
 81662,
 6830,
 71571,
 24410,
 36510,
 69628,
 41057,
 39143,
 66323,
 67505,
 3550,
 81798,
 28011,
 37700,
 6222,
 63593,
 25291,
 38022,
 764,
 21786,
 50884,
 42176,
 22256,
 39866,
 85693,
 47687,
 99921,
 13834,
 30409,
 33592,
 18431,
 60893,
 78479,
 90538,
 97049,
 79477,
 19282,
 1560,
 37703,
 87319,
 1069,
 8967,
 39027,
 38400,
 45034,
 70973,
 14486,
 38618,
 72248,
 34923,
 13784,
 67484,
 8030,
 63372,
 53280,
 11686,
 7324,
 78593,
 31474,
 24756,
 24365,
 30901,
 8359,
 96285,
 64945,
 20563,
 27069,
 83551,
 42482,
 73735,
 50562,
 86669,
 38742,
 56157,
 98587,
 30113,
 23142,
 15369,
 73722,
 6388,
 66591,
 49838,
 60668,
 61413,
 48767,
 81244,
 91649,
 68802,
 329,
 79568,
 52042,
 30633,
 62588,
 66701,
 78942,
 25778,
 4471,
 12303,
 77824,
 25647,
 25109,
 55716,
 12194,
 40400,
 33891,
 17744,
 13813,
 24539,
 42866,
 1481,
 23201,
 94015,
 51380,
 67964,
 82055,
 36122,
 69192,
 35779,
 75307,
 86929,
 72421,
 68773,
 69592,
 52295,
 35031,
 83190,
 21190,
 56679,
 16527,
 69226,
 90712,
 22158,
 36576,
 31454,
 78828,
 42992,
 6016,
 8733,
 44025,
 61942,
 38822,
 13969,
 98199,
 26433,
 32886,
 77533,
 99807,
 363,
 95252,
 73816,
 28315,
 77887,
 94734,
 20175,
 62108,
 41113,
 34847,
 30326,
 81761,
 77224,
 7311,
 69517,
 46145,
 13839,
 53140,
 44016,
 43890,
 96779,
 26786,
 31040,
 81514,
 81500,
 36119,
 49046,
 48822,
 50565,
 35196,
 35144,
 67150,
 51105,
 93479,
 33137,
 6909,
 79924,
 90561,
 97820,
 20844,
 32906,
 72699,
 6853,
 26804,
 94924,
 93524,
 62075,
 898,
 93984,
 54610,
 11279,
 83578,
 23511,
 9206,
 98553,
 67039,
 14883,
 84123,
 37243,
 80014,
 19384,
 11387,
 28605,
 4664,
 19365,
 33550,
 99686,
 24788,
 85783,
 11930,
 23533,
 9381,
 42609,
 47181,
 46173,
 26639,
 10435,
 81400,
 36593,
 44456,
 45118,
 54633,
 818,
 83217,
 4075,
 38159,
 11915,
 95887,
 40137,
 44296,
 10947,
 22863,
 95919,
 9621,
 72796,
 85684,
 46475,
 44531,
 82125,
 53758,
 13519,
 57273,
 21009,
 80473,
 56320,
 8569,
 42902,
 21107,
 85065,
 85612,
 6117,
 49300,
 81789,
 11109,
 76509,
 12603,
 71585,
 75424,
 55379,
 77617,
 70100,
 56538,
 22288,
 58296,
 14896,
 44118,
 60943,
 84204,
 19083,
 76449,
 82874,
 37970,
 68891,
 19639,
 82981,
 39952,
 61421,
 61045,
 90919,
 60943,
 55038,
 63078,
 68295,
 58359,
 56847,
 21456,
 47708,
 64159,
 30843,
 54593,
 7709,
 66220,
 81467,
 95376,
 65073,
 1037,
 52663,
 93411,
 77377,
 67072,
 28065,
 34719,
 83944,
 80960,
 66450,
 53753,
 25031,
 596,
 99134,
 28999,
 34952,
 12466,
 46541,
 9058,
 48040,
 147,
 14181,
 62039,
 83901,
 2104,
 93454,
 40554,
 28493,
 45522,
 39636,
 26200,
 39774,
 16824,
 61236,
 19604,
 91632,
 11076,
 13207,
 51024,
 84607,
 49563,
 39647,
 27727,
 93209,
 82981,
 37671,
 76595,
 5325,
 64004,
 949,
 3920,
 43088,
 1387,
 42745,
 80486,
 15267,
 61914,
 78517,
 3108,
 34500,
 37975,
 97258,
 22590,
 66713,
 20603,
 19344,
 26569,
 92910,
 44815,
 55051,
 49245,
 26391,
 77059,
 80042,
 67234,
 96981,
 20609,
 66730,
 91886,
 55291,
 12632,
 13763,
 57538,
 16157,
 45055,
 22063,
 36325,
 71139,
 96406,
 73525,
 18585,
 42411,
 21020,
 80959,
 620,
 69073,
 48983,
 39770,
 39638,
 89665,
 55338,
 14280,
 81675,
 83582,
 88060,
 84173,
 37212,
 7308,
 29422,
 68168,
 16298,
 38058,
 3030,
 33595,
 30446,
 19403,
 36954,
 88422,
 54847,
 10098,
 88923,
 55403,
 39668,
 53943,
 16530,
 66831,
 21010,
 18564,
 17552,
 99260,
 ...]

In [176]:
clean['random'] = randomlist
clean.head()

,Unnamed: 0,record,date,amount,card_amount,card_#d_since,card_ps_0d_count,card_ps_1d_count,card_ps_3d_count,card_ps_7d_count,...,R_merch#,1/R_card,1/R_merch#,U_merch#,U_card,t_card,t_merch#,U*_card,U*_merch#,random
0,1,2,2010-01-01,31.42,31.42,0.0,1,1,1,1,...,1.096,0.912,0.912,1.096,1.096,-4.333333,-4.333333,1.001244,1.001244,91734
1,2,3,2010-01-01,178.49,178.49,0.0,1,1,1,1,...,1.096,0.912,0.912,1.096,1.096,-4.333333,-4.333333,1.001244,1.001244,47628
2,7,8,2010-01-01,230.32,230.32,0.0,1,1,1,1,...,1.096,0.912,0.912,1.096,1.096,-4.333333,-4.333333,1.001244,1.001244,83059
3,8,9,2010-01-01,62.11,62.11,0.0,1,1,1,1,...,1.096,0.912,0.912,1.096,1.096,-4.333333,-4.333333,1.001244,1.001244,64281
4,13,14,2010-01-01,106.89,106.89,0.0,1,1,1,1,...,2.192,0.456,0.456,2.192,2.192,-4.000000,-4.000000,1.021440,1.021440,56400

# 4. Add day-of-week risk table variable

In [181]:
list(clean.columns)

['Unnamed: 0',
 'record',
 'date',
 'amount',
 'card_amount',
 'card_#d_since',
 'card_ps_0d_count',
 'card_ps_1d_count',
 'card_ps_3d_count',
 'card_ps_7d_count',
 'card_ps_14d_count',
 'card_ps_30d_count',
 'card_ps_0d_average',
 'card_ps_0d_maximum',
 'card_ps_0d_median',
 'card_ps_0d_total',
 'card_ps_0d_ActualAverage',
 'card_ps_0d_ActualMaximum',
 'card_ps_0d_ActualMedian',
 'card_ps_0d_ActualTotal',
 'card_ps_1d_average',
 'card_ps_1d_maximum',
 'card_ps_1d_median',
 'card_ps_1d_total',
 'card_ps_1d_ActualAverage',
 'card_ps_1d_ActualMaximum',
 'card_ps_1d_ActualMedian',
 'card_ps_1d_ActualTotal',
 'card_ps_3d_average',
 'card_ps_3d_maximum',
 'card_ps_3d_median',
 'card_ps_3d_total',
 'card_ps_3d_ActualAverage',
 'card_ps_3d_ActualMaximum',
 'card_ps_3d_ActualMedian',
 'card_ps_3d_ActualTotal',
 'card_ps_7d_average',
 'card_ps_7d_maximum',
 'card_ps_7d_median',
 'card_ps_7d_total',
 'card_ps_7d_ActualAverage',
 'card_ps_7d_ActualMaximum',
 'card_ps_7d_ActualMedian',
 'card_ps_7d_ActualTotal',
 'card_ps_14d_average',
 'card_ps_14d_maximum',
 'card_ps_14d_median',
 'card_ps_14d_total',
 'card_ps_14d_ActualAverage',
 'card_ps_14d_ActualMaximum',
 'card_ps_14d_ActualMedian',
 'card_ps_14d_ActualTotal',
 'card_ps_30d_average',
 'card_ps_30d_maximum',
 'card_ps_30d_median',
 'card_ps_30d_total',
 'card_ps_30d_ActualAverage',
 'card_ps_30d_ActualMaximum',
 'card_ps_30d_ActualMedian',
 'card_ps_30d_ActualTotal',
 'card_ps_0d_ps7d_number',
 'card_ps_0d_ps14d_number',
 'card_ps_0d_ps30d_number',
 'card_ps_1d_ps7d_number',
 'card_ps_1d_ps14d_number',
 'card_ps_1d_ps30d_number',
 'card_ps_0d_ps7d_amount',
 'card_ps_0d_ps14d_amount',
 'card_ps_0d_ps30d_amount',
 'card_ps_1d_ps7d_amount',
 'card_ps_1d_ps14d_amount',
 'card_ps_1d_ps30d_amount',
 'merch#_amount',
 'merch#_#d_since',
 'merch#_ps_0d_count',
 'merch#_ps_1d_count',
 'merch#_ps_3d_count',
 'merch#_ps_7d_count',
 'merch#_ps_14d_count',
 'merch#_ps_30d_count',
 'merch#_ps_0d_average',
 'merch#_ps_0d_maximum',
 'merch#_ps_0d_median',
 'merch#_ps_0d_total',
 'merch#_ps_0d_ActualAverage',
 'merch#_ps_0d_ActualMaximum',
 'merch#_ps_0d_ActualMedian',
 'merch#_ps_0d_ActualTotal',
 'merch#_ps_1d_average',
 'merch#_ps_1d_maximum',
 'merch#_ps_1d_median',
 'merch#_ps_1d_total',
 'merch#_ps_1d_ActualAverage',
 'merch#_ps_1d_ActualMaximum',
 'merch#_ps_1d_ActualMedian',
 'merch#_ps_1d_ActualTotal',
 'merch#_ps_3d_average',
 'merch#_ps_3d_maximum',
 'merch#_ps_3d_median',
 'merch#_ps_3d_total',
 'merch#_ps_3d_ActualAverage',
 'merch#_ps_3d_ActualMaximum',
 'merch#_ps_3d_ActualMedian',
 'merch#_ps_3d_ActualTotal',
 'merch#_ps_7d_average',
 'merch#_ps_7d_maximum',
 'merch#_ps_7d_median',
 'merch#_ps_7d_total',
 'merch#_ps_7d_ActualAverage',
 'merch#_ps_7d_ActualMaximum',
 'merch#_ps_7d_ActualMedian',
 'merch#_ps_7d_ActualTotal',
 'merch#_ps_14d_average',
 'merch#_ps_14d_maximum',
 'merch#_ps_14d_median',
 'merch#_ps_14d_total',
 'merch#_ps_14d_ActualAverage',
 'merch#_ps_14d_ActualMaximum',
 'merch#_ps_14d_ActualMedian',
 'merch#_ps_14d_ActualTotal',
 'merch#_ps_30d_average',
 'merch#_ps_30d_maximum',
 'merch#_ps_30d_median',
 'merch#_ps_30d_total',
 'merch#_ps_30d_ActualAverage',
 'merch#_ps_30d_ActualMaximum',
 'merch#_ps_30d_ActualMedian',
 'merch#_ps_30d_ActualTotal',
 'merch#_ps_0d_ps7d_number',
 'merch#_ps_0d_ps14d_number',
 'merch#_ps_0d_ps30d_number',
 'merch#_ps_1d_ps7d_number',
 'merch#_ps_1d_ps14d_number',
 'merch#_ps_1d_ps30d_number',
 'merch#_ps_0d_ps7d_amount',
 'merch#_ps_0d_ps14d_amount',
 'merch#_ps_0d_ps30d_amount',
 'merch#_ps_1d_ps7d_amount',
 'merch#_ps_1d_ps14d_amount',
 'merch#_ps_1d_ps30d_amount',
 'card-merchant_amount',
 'card-merchant_#d_since',
 'card-merchant_ps_0d_count',
 'card-merchant_ps_1d_count',
 'card-merchant_ps_3d_count',
 'card-merchant_ps_7d_count',
 'card-merchant_ps_14d_count',
 'card-merchant_ps_30d_count',
 'card-merchant_ps_0d_average',
 'card-merchant_ps_0d_maximum',
 'card-merchant_ps_0d_median',
 'card-merchant_ps_0d_total',
 'card-merchant_ps_0d_ActualAverage',
 'card-merchant_ps_0d_ActualMaximum',
 'card-merchant_ps_0d_ActualMedian',
 'card-merchant_ps_0d_ActualTotal',
 'card-merchant_ps_1d_average',
 'card-merchant_ps_1d_maximum',
 'card-merchant_ps_1d_median',
 'card-merchant_ps_1d_total',
 'card-merchant_ps_1d_ActualAverage',
 'card-merchant_ps_1d_ActualMaximum',
 'card-merchant_ps_1d_ActualMedian',
 'card-merchant_ps_1d_ActualTotal',
 'card-merchant_ps_3d_average',
 'card-merchant_ps_3d_maximum',
 'card-merchant_ps_3d_median',
 'card-merchant_ps_3d_total',
 'card-merchant_ps_3d_ActualAverage',
 'card-merchant_ps_3d_ActualMaximum',
 'card-merchant_ps_3d_ActualMedian',
 'card-merchant_ps_3d_ActualTotal',
 'card-merchant_ps_7d_average',
 'card-merchant_ps_7d_maximum',
 'card-merchant_ps_7d_median',
 'card-merchant_ps_7d_total',
 'card-merchant_ps_7d_ActualAverage',
 'card-merchant_ps_7d_ActualMaximum',
 'card-merchant_ps_7d_ActualMedian',
 'card-merchant_ps_7d_ActualTotal',
 'card-merchant_ps_14d_average',
 'card-merchant_ps_14d_maximum',
 'card-merchant_ps_14d_median',
 'card-merchant_ps_14d_total',
 'card-merchant_ps_14d_ActualAverage',
 'card-merchant_ps_14d_ActualMaximum',
 'card-merchant_ps_14d_ActualMedian',
 'card-merchant_ps_14d_ActualTotal',
 'card-merchant_ps_30d_average',
 'card-merchant_ps_30d_maximum',
 'card-merchant_ps_30d_median',
 'card-merchant_ps_30d_total',
 'card-merchant_ps_30d_ActualAverage',
 'card-merchant_ps_30d_ActualMaximum',
 'card-merchant_ps_30d_ActualMedian',
 'card-merchant_ps_30d_ActualTotal',
 'card-merchant_ps_0d_ps7d_number',
 'card-merchant_ps_0d_ps14d_number',
 'card-merchant_ps_0d_ps30d_number',
 'card-merchant_ps_1d_ps7d_number',
 'card-merchant_ps_1d_ps14d_number',
 'card-merchant_ps_1d_ps30d_number',
 'card-merchant_ps_0d_ps7d_amount',
 'card-merchant_ps_0d_ps14d_amount',
 'card-merchant_ps_0d_ps30d_amount',
 'card-merchant_ps_1d_ps7d_amount',
 'card-merchant_ps_1d_ps14d_amount',
 'card-merchant_ps_1d_ps30d_amount',
 'card-zip_amount',
 'card-zip_#d_since',
 'card-zip_ps_0d_count',
 'card-zip_ps_1d_count',
 'card-zip_ps_3d_count',
 'card-zip_ps_7d_count',
 'card-zip_ps_14d_count',
 'card-zip_ps_30d_count',
 'card-zip_ps_0d_average',
 'card-zip_ps_0d_maximum',
 'card-zip_ps_0d_median',
 'card-zip_ps_0d_total',
 'card-zip_ps_0d_ActualAverage',
 'card-zip_ps_0d_ActualMaximum',
 'card-zip_ps_0d_ActualMedian',
 'card-zip_ps_0d_ActualTotal',
 'card-zip_ps_1d_average',
 'card-zip_ps_1d_maximum',
 'card-zip_ps_1d_median',
 'card-zip_ps_1d_total',
 'card-zip_ps_1d_ActualAverage',
 'card-zip_ps_1d_ActualMaximum',
 'card-zip_ps_1d_ActualMedian',
 'card-zip_ps_1d_ActualTotal',
 'card-zip_ps_3d_average',
 'card-zip_ps_3d_maximum',
 'card-zip_ps_3d_median',
 'card-zip_ps_3d_total',
 'card-zip_ps_3d_ActualAverage',
 'card-zip_ps_3d_ActualMaximum',
 'card-zip_ps_3d_ActualMedian',
 'card-zip_ps_3d_ActualTotal',
 'card-zip_ps_7d_average',
 'card-zip_ps_7d_maximum',
 'card-zip_ps_7d_median',
 'card-zip_ps_7d_total',
 'card-zip_ps_7d_ActualAverage',
 'card-zip_ps_7d_ActualMaximum',
 'card-zip_ps_7d_ActualMedian',
 'card-zip_ps_7d_ActualTotal',
 'card-zip_ps_14d_average',
 'card-zip_ps_14d_maximum',
 'card-zip_ps_14d_median',
 'card-zip_ps_14d_total',
 'card-zip_ps_14d_ActualAverage',
 'card-zip_ps_14d_ActualMaximum',
 'card-zip_ps_14d_ActualMedian',
 'card-zip_ps_14d_ActualTotal',
 'card-zip_ps_30d_average',
 'card-zip_ps_30d_maximum',
 'card-zip_ps_30d_median',
 'card-zip_ps_30d_total',
 'card-zip_ps_30d_ActualAverage',
 'card-zip_ps_30d_ActualMaximum',
 'card-zip_ps_30d_ActualMedian',
 'card-zip_ps_30d_ActualTotal',
 'card-zip_ps_0d_ps7d_number',
 'card-zip_ps_0d_ps14d_number',
 'card-zip_ps_0d_ps30d_number',
 'card-zip_ps_1d_ps7d_number',
 'card-zip_ps_1d_ps14d_number',
 'card-zip_ps_1d_ps30d_number',
 'card-zip_ps_0d_ps7d_amount',
 'card-zip_ps_0d_ps14d_amount',
 'card-zip_ps_0d_ps30d_amount',
 'card-zip_ps_1d_ps7d_amount',
 'card-zip_ps_1d_ps14d_amount',
 'card-zip_ps_1d_ps30d_amount',
 'card-state_amount',
 'card-state_#d_since',
 'card-state_ps_0d_count',
 'card-state_ps_1d_count',
 'card-state_ps_3d_count',
 'card-state_ps_7d_count',
 'card-state_ps_14d_count',
 'card-state_ps_30d_count',
 'card-state_ps_0d_average',
 'card-state_ps_0d_maximum',
 'card-state_ps_0d_median',
 'card-state_ps_0d_total',
 'card-state_ps_0d_ActualAverage',
 'card-state_ps_0d_ActualMaximum',
 'card-state_ps_0d_ActualMedian',
 'card-state_ps_0d_ActualTotal',
 'card-state_ps_1d_average',
 'card-state_ps_1d_maximum',
 'card-state_ps_1d_median',
 'card-state_ps_1d_total',
 'card-state_ps_1d_ActualAverage',
 'card-state_ps_1d_ActualMaximum',
 'card-state_ps_1d_ActualMedian',
 'card-state_ps_1d_ActualTotal',
 'card-state_ps_3d_average',
 'card-state_ps_3d_maximum',
 'card-state_ps_3d_median',
 'card-state_ps_3d_total',
 'card-state_ps_3d_ActualAverage',
 'card-state_ps_3d_ActualMaximum',
 'card-state_ps_3d_ActualMedian',
 'card-state_ps_3d_ActualTotal',
 'card-state_ps_7d_average',
 'card-state_ps_7d_maximum',
 'card-state_ps_7d_median',
 'card-state_ps_7d_total',
 'card-state_ps_7d_ActualAverage',
 'card-state_ps_7d_ActualMaximum',
 'card-state_ps_7d_ActualMedian',
 'card-state_ps_7d_ActualTotal',
 'card-state_ps_14d_average',
 'card-state_ps_14d_maximum',
 'card-state_ps_14d_median',
 'card-state_ps_14d_total',
 'card-state_ps_14d_ActualAverage',
 'card-state_ps_14d_ActualMaximum',
 'card-state_ps_14d_ActualMedian',
 'card-state_ps_14d_ActualTotal',
 'card-state_ps_30d_average',
 'card-state_ps_30d_maximum',
 'card-state_ps_30d_median',
 'card-state_ps_30d_total',
 'card-state_ps_30d_ActualAverage',
 'card-state_ps_30d_ActualMaximum',
 'card-state_ps_30d_ActualMedian',
 'card-state_ps_30d_ActualTotal',
 'card-state_ps_0d_ps7d_number',
 'card-state_ps_0d_ps14d_number',
 'card-state_ps_0d_ps30d_number',
 'card-state_ps_1d_ps7d_number',
 'card-state_ps_1d_ps14d_number',
 'card-state_ps_1d_ps30d_number',
 'card-state_ps_0d_ps7d_amount',
 'card-state_ps_0d_ps14d_amount',
 'card-state_ps_0d_ps30d_amount',
 'card-state_ps_1d_ps7d_amount',
 'card-state_ps_1d_ps14d_amount',
 'card-state_ps_1d_ps30d_amount',
 'merchdes',
 'amount_str',
 'firstd',
 'card',
 'merch#',
 'low/high',
 'low',
 'high',
 'nlow_card',
 'nhigh_card',
 'nlow_merch#',
 'nhigh_merch#',
 'n_card',
 'n_merch#',
 'R_card',
 'R_merch#',
 '1/R_card',
 '1/R_merch#',
 'U_merch#',
 'U_card',
 't_card',
 't_merch#',
 'U*_card',
 'U*_merch#',
 'random']

In [182]:
# drop duplicate columns
clean = clean.drop(['card_amount','merch#_amount','card-merchant_amount','card-zip_amount',
                        'card-state_amount','amount_str','firstd','low','high','low/high'], axis=1)

In [183]:
len(clean.columns)

359

In [192]:
clean['fraud'] = df['fraud']
clean['date']=pd.to_datetime(clean['date'], format='%Y-%m-%d')
clean['weekday'] = clean.date.dt.dayofweek

In [193]:
list(clean.columns)

['Unnamed: 0',
 'record',
 'date',
 'amount',
 'card_#d_since',
 'card_ps_0d_count',
 'card_ps_1d_count',
 'card_ps_3d_count',
 'card_ps_7d_count',
 'card_ps_14d_count',
 'card_ps_30d_count',
 'card_ps_0d_average',
 'card_ps_0d_maximum',
 'card_ps_0d_median',
 'card_ps_0d_total',
 'card_ps_0d_ActualAverage',
 'card_ps_0d_ActualMaximum',
 'card_ps_0d_ActualMedian',
 'card_ps_0d_ActualTotal',
 'card_ps_1d_average',
 'card_ps_1d_maximum',
 'card_ps_1d_median',
 'card_ps_1d_total',
 'card_ps_1d_ActualAverage',
 'card_ps_1d_ActualMaximum',
 'card_ps_1d_ActualMedian',
 'card_ps_1d_ActualTotal',
 'card_ps_3d_average',
 'card_ps_3d_maximum',
 'card_ps_3d_median',
 'card_ps_3d_total',
 'card_ps_3d_ActualAverage',
 'card_ps_3d_ActualMaximum',
 'card_ps_3d_ActualMedian',
 'card_ps_3d_ActualTotal',
 'card_ps_7d_average',
 'card_ps_7d_maximum',
 'card_ps_7d_median',
 'card_ps_7d_total',
 'card_ps_7d_ActualAverage',
 'card_ps_7d_ActualMaximum',
 'card_ps_7d_ActualMedian',
 'card_ps_7d_ActualTotal',
 'card_ps_14d_average',
 'card_ps_14d_maximum',
 'card_ps_14d_median',
 'card_ps_14d_total',
 'card_ps_14d_ActualAverage',
 'card_ps_14d_ActualMaximum',
 'card_ps_14d_ActualMedian',
 'card_ps_14d_ActualTotal',
 'card_ps_30d_average',
 'card_ps_30d_maximum',
 'card_ps_30d_median',
 'card_ps_30d_total',
 'card_ps_30d_ActualAverage',
 'card_ps_30d_ActualMaximum',
 'card_ps_30d_ActualMedian',
 'card_ps_30d_ActualTotal',
 'card_ps_0d_ps7d_number',
 'card_ps_0d_ps14d_number',
 'card_ps_0d_ps30d_number',
 'card_ps_1d_ps7d_number',
 'card_ps_1d_ps14d_number',
 'card_ps_1d_ps30d_number',
 'card_ps_0d_ps7d_amount',
 'card_ps_0d_ps14d_amount',
 'card_ps_0d_ps30d_amount',
 'card_ps_1d_ps7d_amount',
 'card_ps_1d_ps14d_amount',
 'card_ps_1d_ps30d_amount',
 'merch#_#d_since',
 'merch#_ps_0d_count',
 'merch#_ps_1d_count',
 'merch#_ps_3d_count',
 'merch#_ps_7d_count',
 'merch#_ps_14d_count',
 'merch#_ps_30d_count',
 'merch#_ps_0d_average',
 'merch#_ps_0d_maximum',
 'merch#_ps_0d_median',
 'merch#_ps_0d_total',
 'merch#_ps_0d_ActualAverage',
 'merch#_ps_0d_ActualMaximum',
 'merch#_ps_0d_ActualMedian',
 'merch#_ps_0d_ActualTotal',
 'merch#_ps_1d_average',
 'merch#_ps_1d_maximum',
 'merch#_ps_1d_median',
 'merch#_ps_1d_total',
 'merch#_ps_1d_ActualAverage',
 'merch#_ps_1d_ActualMaximum',
 'merch#_ps_1d_ActualMedian',
 'merch#_ps_1d_ActualTotal',
 'merch#_ps_3d_average',
 'merch#_ps_3d_maximum',
 'merch#_ps_3d_median',
 'merch#_ps_3d_total',
 'merch#_ps_3d_ActualAverage',
 'merch#_ps_3d_ActualMaximum',
 'merch#_ps_3d_ActualMedian',
 'merch#_ps_3d_ActualTotal',
 'merch#_ps_7d_average',
 'merch#_ps_7d_maximum',
 'merch#_ps_7d_median',
 'merch#_ps_7d_total',
 'merch#_ps_7d_ActualAverage',
 'merch#_ps_7d_ActualMaximum',
 'merch#_ps_7d_ActualMedian',
 'merch#_ps_7d_ActualTotal',
 'merch#_ps_14d_average',
 'merch#_ps_14d_maximum',
 'merch#_ps_14d_median',
 'merch#_ps_14d_total',
 'merch#_ps_14d_ActualAverage',
 'merch#_ps_14d_ActualMaximum',
 'merch#_ps_14d_ActualMedian',
 'merch#_ps_14d_ActualTotal',
 'merch#_ps_30d_average',
 'merch#_ps_30d_maximum',
 'merch#_ps_30d_median',
 'merch#_ps_30d_total',
 'merch#_ps_30d_ActualAverage',
 'merch#_ps_30d_ActualMaximum',
 'merch#_ps_30d_ActualMedian',
 'merch#_ps_30d_ActualTotal',
 'merch#_ps_0d_ps7d_number',
 'merch#_ps_0d_ps14d_number',
 'merch#_ps_0d_ps30d_number',
 'merch#_ps_1d_ps7d_number',
 'merch#_ps_1d_ps14d_number',
 'merch#_ps_1d_ps30d_number',
 'merch#_ps_0d_ps7d_amount',
 'merch#_ps_0d_ps14d_amount',
 'merch#_ps_0d_ps30d_amount',
 'merch#_ps_1d_ps7d_amount',
 'merch#_ps_1d_ps14d_amount',
 'merch#_ps_1d_ps30d_amount',
 'card-merchant_#d_since',
 'card-merchant_ps_0d_count',
 'card-merchant_ps_1d_count',
 'card-merchant_ps_3d_count',
 'card-merchant_ps_7d_count',
 'card-merchant_ps_14d_count',
 'card-merchant_ps_30d_count',
 'card-merchant_ps_0d_average',
 'card-merchant_ps_0d_maximum',
 'card-merchant_ps_0d_median',
 'card-merchant_ps_0d_total',
 'card-merchant_ps_0d_ActualAverage',
 'card-merchant_ps_0d_ActualMaximum',
 'card-merchant_ps_0d_ActualMedian',
 'card-merchant_ps_0d_ActualTotal',
 'card-merchant_ps_1d_average',
 'card-merchant_ps_1d_maximum',
 'card-merchant_ps_1d_median',
 'card-merchant_ps_1d_total',
 'card-merchant_ps_1d_ActualAverage',
 'card-merchant_ps_1d_ActualMaximum',
 'card-merchant_ps_1d_ActualMedian',
 'card-merchant_ps_1d_ActualTotal',
 'card-merchant_ps_3d_average',
 'card-merchant_ps_3d_maximum',
 'card-merchant_ps_3d_median',
 'card-merchant_ps_3d_total',
 'card-merchant_ps_3d_ActualAverage',
 'card-merchant_ps_3d_ActualMaximum',
 'card-merchant_ps_3d_ActualMedian',
 'card-merchant_ps_3d_ActualTotal',
 'card-merchant_ps_7d_average',
 'card-merchant_ps_7d_maximum',
 'card-merchant_ps_7d_median',
 'card-merchant_ps_7d_total',
 'card-merchant_ps_7d_ActualAverage',
 'card-merchant_ps_7d_ActualMaximum',
 'card-merchant_ps_7d_ActualMedian',
 'card-merchant_ps_7d_ActualTotal',
 'card-merchant_ps_14d_average',
 'card-merchant_ps_14d_maximum',
 'card-merchant_ps_14d_median',
 'card-merchant_ps_14d_total',
 'card-merchant_ps_14d_ActualAverage',
 'card-merchant_ps_14d_ActualMaximum',
 'card-merchant_ps_14d_ActualMedian',
 'card-merchant_ps_14d_ActualTotal',
 'card-merchant_ps_30d_average',
 'card-merchant_ps_30d_maximum',
 'card-merchant_ps_30d_median',
 'card-merchant_ps_30d_total',
 'card-merchant_ps_30d_ActualAverage',
 'card-merchant_ps_30d_ActualMaximum',
 'card-merchant_ps_30d_ActualMedian',
 'card-merchant_ps_30d_ActualTotal',
 'card-merchant_ps_0d_ps7d_number',
 'card-merchant_ps_0d_ps14d_number',
 'card-merchant_ps_0d_ps30d_number',
 'card-merchant_ps_1d_ps7d_number',
 'card-merchant_ps_1d_ps14d_number',
 'card-merchant_ps_1d_ps30d_number',
 'card-merchant_ps_0d_ps7d_amount',
 'card-merchant_ps_0d_ps14d_amount',
 'card-merchant_ps_0d_ps30d_amount',
 'card-merchant_ps_1d_ps7d_amount',
 'card-merchant_ps_1d_ps14d_amount',
 'card-merchant_ps_1d_ps30d_amount',
 'card-zip_#d_since',
 'card-zip_ps_0d_count',
 'card-zip_ps_1d_count',
 'card-zip_ps_3d_count',
 'card-zip_ps_7d_count',
 'card-zip_ps_14d_count',
 'card-zip_ps_30d_count',
 'card-zip_ps_0d_average',
 'card-zip_ps_0d_maximum',
 'card-zip_ps_0d_median',
 'card-zip_ps_0d_total',
 'card-zip_ps_0d_ActualAverage',
 'card-zip_ps_0d_ActualMaximum',
 'card-zip_ps_0d_ActualMedian',
 'card-zip_ps_0d_ActualTotal',
 'card-zip_ps_1d_average',
 'card-zip_ps_1d_maximum',
 'card-zip_ps_1d_median',
 'card-zip_ps_1d_total',
 'card-zip_ps_1d_ActualAverage',
 'card-zip_ps_1d_ActualMaximum',
 'card-zip_ps_1d_ActualMedian',
 'card-zip_ps_1d_ActualTotal',
 'card-zip_ps_3d_average',
 'card-zip_ps_3d_maximum',
 'card-zip_ps_3d_median',
 'card-zip_ps_3d_total',
 'card-zip_ps_3d_ActualAverage',
 'card-zip_ps_3d_ActualMaximum',
 'card-zip_ps_3d_ActualMedian',
 'card-zip_ps_3d_ActualTotal',
 'card-zip_ps_7d_average',
 'card-zip_ps_7d_maximum',
 'card-zip_ps_7d_median',
 'card-zip_ps_7d_total',
 'card-zip_ps_7d_ActualAverage',
 'card-zip_ps_7d_ActualMaximum',
 'card-zip_ps_7d_ActualMedian',
 'card-zip_ps_7d_ActualTotal',
 'card-zip_ps_14d_average',
 'card-zip_ps_14d_maximum',
 'card-zip_ps_14d_median',
 'card-zip_ps_14d_total',
 'card-zip_ps_14d_ActualAverage',
 'card-zip_ps_14d_ActualMaximum',
 'card-zip_ps_14d_ActualMedian',
 'card-zip_ps_14d_ActualTotal',
 'card-zip_ps_30d_average',
 'card-zip_ps_30d_maximum',
 'card-zip_ps_30d_median',
 'card-zip_ps_30d_total',
 'card-zip_ps_30d_ActualAverage',
 'card-zip_ps_30d_ActualMaximum',
 'card-zip_ps_30d_ActualMedian',
 'card-zip_ps_30d_ActualTotal',
 'card-zip_ps_0d_ps7d_number',
 'card-zip_ps_0d_ps14d_number',
 'card-zip_ps_0d_ps30d_number',
 'card-zip_ps_1d_ps7d_number',
 'card-zip_ps_1d_ps14d_number',
 'card-zip_ps_1d_ps30d_number',
 'card-zip_ps_0d_ps7d_amount',
 'card-zip_ps_0d_ps14d_amount',
 'card-zip_ps_0d_ps30d_amount',
 'card-zip_ps_1d_ps7d_amount',
 'card-zip_ps_1d_ps14d_amount',
 'card-zip_ps_1d_ps30d_amount',
 'card-state_#d_since',
 'card-state_ps_0d_count',
 'card-state_ps_1d_count',
 'card-state_ps_3d_count',
 'card-state_ps_7d_count',
 'card-state_ps_14d_count',
 'card-state_ps_30d_count',
 'card-state_ps_0d_average',
 'card-state_ps_0d_maximum',
 'card-state_ps_0d_median',
 'card-state_ps_0d_total',
 'card-state_ps_0d_ActualAverage',
 'card-state_ps_0d_ActualMaximum',
 'card-state_ps_0d_ActualMedian',
 'card-state_ps_0d_ActualTotal',
 'card-state_ps_1d_average',
 'card-state_ps_1d_maximum',
 'card-state_ps_1d_median',
 'card-state_ps_1d_total',
 'card-state_ps_1d_ActualAverage',
 'card-state_ps_1d_ActualMaximum',
 'card-state_ps_1d_ActualMedian',
 'card-state_ps_1d_ActualTotal',
 'card-state_ps_3d_average',
 'card-state_ps_3d_maximum',
 'card-state_ps_3d_median',
 'card-state_ps_3d_total',
 'card-state_ps_3d_ActualAverage',
 'card-state_ps_3d_ActualMaximum',
 'card-state_ps_3d_ActualMedian',
 'card-state_ps_3d_ActualTotal',
 'card-state_ps_7d_average',
 'card-state_ps_7d_maximum',
 'card-state_ps_7d_median',
 'card-state_ps_7d_total',
 'card-state_ps_7d_ActualAverage',
 'card-state_ps_7d_ActualMaximum',
 'card-state_ps_7d_ActualMedian',
 'card-state_ps_7d_ActualTotal',
 'card-state_ps_14d_average',
 'card-state_ps_14d_maximum',
 'card-state_ps_14d_median',
 'card-state_ps_14d_total',
 'card-state_ps_14d_ActualAverage',
 'card-state_ps_14d_ActualMaximum',
 'card-state_ps_14d_ActualMedian',
 'card-state_ps_14d_ActualTotal',
 'card-state_ps_30d_average',
 'card-state_ps_30d_maximum',
 'card-state_ps_30d_median',
 'card-state_ps_30d_total',
 'card-state_ps_30d_ActualAverage',
 'card-state_ps_30d_ActualMaximum',
 'card-state_ps_30d_ActualMedian',
 'card-state_ps_30d_ActualTotal',
 'card-state_ps_0d_ps7d_number',
 'card-state_ps_0d_ps14d_number',
 'card-state_ps_0d_ps30d_number',
 'card-state_ps_1d_ps7d_number',
 'card-state_ps_1d_ps14d_number',
 'card-state_ps_1d_ps30d_number',
 'card-state_ps_0d_ps7d_amount',
 'card-state_ps_0d_ps14d_amount',
 'card-state_ps_0d_ps30d_amount',
 'card-state_ps_1d_ps7d_amount',
 'card-state_ps_1d_ps14d_amount',
 'card-state_ps_1d_ps30d_amount',
 'merchdes',
 'card',
 'merch#',
 'nlow_card',
 'nhigh_card',
 'nlow_merch#',
 'nhigh_merch#',
 'n_card',
 'n_merch#',
 'R_card',
 'R_merch#',
 '1/R_card',
 '1/R_merch#',
 'U_merch#',
 'U_card',
 't_card',
 't_merch#',
 'U*_card',
 'U*_merch#',
 'random',
 'fraud',
 'weekday']

In [194]:
# separate into tt (training_testing) and oot set
tt = clean[clean.date<'2010-11-01'].copy()
oot = clean[clean.date>='2010-11-01'].copy()

In [195]:
c = 3
nmid = 15
y_avg = tt['fraud'].mean()
y_weekday_avg = tt.groupby('weekday')['fraud'].mean()
num_instances_weekday = tt.groupby('weekday').size()
y_weekday_smooth = y_avg + (y_weekday_avg - y_avg)/(1 + np.exp(-(num_instances_weekday-nmid)/c))
tt['weekday_risk'] = tt['weekday'].map(y_weekday_smooth)
oot['weekday_risk'] = oot['weekday'].map(y_weekday_smooth)

In [196]:
tt

,Unnamed: 0,record,date,amount,card_#d_since,card_ps_0d_count,card_ps_1d_count,card_ps_3d_count,card_ps_7d_count,card_ps_14d_count,...,U_merch#,U_card,t_card,t_merch#,U*_card,U*_merch#,random,fraud,weekday,weekday_risk
0,1,2,2010-01-01,31.42,0.0,1,1,1,1,1,...,1.096000,1.096000,-4.333333,-4.333333,1.001244,1.001244,91734,0,4,0.007991
1,2,3,2010-01-01,178.49,0.0,1,1,1,1,1,...,1.096000,1.096000,-4.333333,-4.333333,1.001244,1.001244,47628,0,4,0.007991
2,7,8,2010-01-01,230.32,0.0,1,1,1,1,1,...,1.096000,1.096000,-4.333333,-4.333333,1.001244,1.001244,83059,0,4,0.007991
3,8,9,2010-01-01,62.11,0.0,1,1,1,1,1,...,1.096000,1.096000,-4.333333,-4.333333,1.001244,1.001244,64281,0,4,0.007991
4,13,14,2010-01-01,106.89,0.0,1,1,1,1,1,...,2.192000,2.192000,-4.000000,-4.000000,1.021440,1.021440,56400,0,4,0.007991
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72894,83965,84295,2010-10-31,299.77,23.0,1,1,1,1,1,...,2.192000,1.252571,5.000000,-4.000000,1.250881,1.021440,7974,0,6,0.011994
72895,83966,84296,2010-10-31,609.34,0.0,2,2,2,2,2,...,1.624704,1.889655,100.333333,230.000000,1.889655,1.624704,15459,0,6,0.011994
72896,83967,84297,2010-10-31,235.00,3.0,1,1,2,2,3,...,1.096000,1.370000,-2.000000,-4.333333,1.044105,1.001244,18414,0,6,0.011994
72897,83968,84298,2010-10-31,600.00,68.0,1,1,1,1,1,...,1.043000,1.278667,-0.666667,0.000000,1.094536,1.021500,27447,0,6,0.011994
72898,83969,84299,2010-10-31,30.00,22.0,1,1,1,1,1,...,1.753128,2.096696,17.333333,2814.666667,2.096696,1.753128,57983,0,6,0.011994

In [197]:
oot

,Unnamed: 0,record,date,amount,card_#d_since,card_ps_0d_count,card_ps_1d_count,card_ps_3d_count,card_ps_7d_count,card_ps_14d_count,...,U_merch#,U_card,t_card,t_merch#,U*_card,U*_merch#,random,fraud,weekday,weekday_risk
72899,83970,84300,2010-11-01,182.00,3.0,1,1,4,13,16,...,2.009333,1.887556,11.333333,0.666667,1.887545,1.666923,37815,0,0,0.010100
72900,83971,84301,2010-11-01,174.61,12.0,1,1,1,1,2,...,2.053000,1.899103,100.666667,-0.666667,1.899103,1.357224,37389,0,0,0.010100
72901,83972,84302,2010-11-01,53.00,3.0,1,1,2,3,8,...,2.260500,1.883127,94.666667,11.333333,1.883127,2.260485,4204,0,0,0.010100
72902,83973,84303,2010-11-01,25.00,7.0,1,1,1,2,4,...,2.449882,1.781000,2.000000,13.333333,1.687903,2.449880,61206,0,0,0.010100
72903,83974,84304,2010-11-01,97.17,10.0,1,1,1,1,4,...,1.825000,1.882872,101.000000,-4.000000,1.882872,1.014839,67571,0,0,0.010100
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84593,96392,96749,2010-12-31,84.79,37.0,1,1,1,1,1,...,1.774476,1.693818,13.666667,31.666667,1.693817,1.774476,90010,0,4,0.007991
84594,96393,96750,2010-12-31,118.75,0.0,2,2,5,5,13,...,1.064000,1.187333,20.000000,-0.666667,1.187333,1.021712,12698,0,4,0.007991
84595,96394,96751,2010-12-31,363.56,1.0,1,3,5,6,6,...,1.740167,1.748936,35.666667,3091.666667,1.748936,1.740167,23646,0,4,0.007991
84596,96395,96752,2010-12-31,2202.03,9.0,1,1,1,1,3,...,1.655184,1.601846,16.333333,36.000000,1.601846,1.655184,8375,0,4,0.007991
84597,96396,96753,2010-12-31,554.64,2.0,1,1,6,6,10,...,1.096000,1.180308,49.000000,-3.666667,1.180308,1.002393,91663,0,4,0.007991

In [ ]:
plt.figure(figsize=(10,5))
y_weekday_smooth.plot(kind='bar')
plt.xticks(range(7),
           ['Monday','Tuesday','Wednesday','Thursday','Friday','Saturday','Sunday'],
           rotation=60)
plt.axhline(y_avg, color='r', linestyle='--')
plt.xlabel('Weekdays')
plt.ylabel('Percentage')
plt.title('Fraud Proportion of Each Weekday')
plt.legend(['Average fraud proportion'])
plt.show()

In [ ]:
tt.to_csv('Create variables_traintest.csv', index=False)
oot.to_csv('Create variables_oot.csv', index=False)

In [38]:
finalDF = df[['record','date','amount']]

for val in attributes:
    df1 = df[['record','date','amount', val]].copy()
    df2 = df1.copy()
    lags = [0, 1, 3, 7, 14, 30]
    df3 = df1.merge(df2, on=val)

    ##### 2. frequency variables #####
    for lag in lags:
        temp = df3[(df3['record_x']>=df3['record_y']) & (df3['date_x']<=df3['date_{}'.format(lag)])]
        tempCount = temp[['record_x','record_y']].groupby('record_x').count().reset_index()
        date_lags = 'ps_{}d_count'.format(lag)
        tempCount.columns = ['record', date_lags] 
        # df1 = df1.merge(tempCount, left_on='record',right_on='record')

KeyError: 'date_0'